<!DOCTYPE html>
<html>
	<head>
		<title>Đổi mật khẩu</title>
		<meta charset="UTF-8"/>
		<div th:replace="library"></div>
	</head>
	<body class="content-body">
		<script th:inline="javascript">
		/*<![CDATA[*/
			$(function(){
				var employee;
				
				getLoggedUser(function(returnData){
					if(returnData.user.position.code == 2 || returnData.leaderFlag == 1){
						renderNumberOfRequest(returnData.user.id);
					}
				});
				
				$('#btnSave').on('click', function() {
					var changePasswordData = $('#changePasswordForm').serializeJSON();
					
					//validate
					var complete = 1;
					$.each(changePasswordData, function(index, value) {
						if(value == "" || value === undefined || value === null) {
							complete = 0;
						}
					});
					
					//end validate
					
					if(complete == 0) {
						$('#alertMessage').html(errors['incompleteFields']).attr('class', 'alert alert-danger').show();
					} else {
						if(changePasswordData.newPassword != changePasswordData.confirmNewPassword) {
							$('#alertMessage').html('Xác nhận mật khẩu mới của bạn không đúng').attr('class', 'alert alert-danger').show();
						} else {
							var changePassRequest = {
								"id" : employee.id,
								"old_password" : changePasswordData.oldPassword,
								"new_password" : changePasswordData.newPassword
							};
							console.log(changePassRequest);
							
							$.ajax({
								type : "POST",
								contentType : "application/json",
								url : /*[[@{/employee/changePassword}]]*/,
								dataType : 'json',
								data : JSON.stringify(changePassRequest),
								success : function(returnData) {
									if(returnData.status_info.status == 1) {
										$('#alertMessage').html(returnData.status_info.error).attr('class', 'alert alert-danger').show();
									} else {
										$('#alertMessage').html('Đổi mật khẩu thành công!').attr('class', 'alert alert-success').show();
										$("#changePasswordForm :input").not("button").val("");
									}
								},
								error : function(e) {
									$('#alertMessage').html(errors['APIResponseError'](e)).attr('class', 'alert alert-danger').show();
								}
							});
						}
					}
				});
			});
		/*]]>*/
		</script>
		<div th:replace="fragments/header"></div>
		<div th:replace="menu"></div>
		
		<div class="requestOffContentBody">
			<h2>Đổi mật khẩu</h2><br/>
			<div>
				<div id="alertMessage" class="alert" style="display:none;"></div>
				<form class="form-input" id="changePasswordForm">
					<div class="form-group">
						<label for="name">Mật khẩu cũ *</label>
						<input type="password" class="form-control" name="oldPassword" id="oldPasswordId"/>
					</div>
					<div class="form-group">
						<label for="name">Mật khẩu mới *</label>
						<input type="password" class="form-control" name="newPassword" id="newPasswordId"/>
					</div>
					<div class="form-group">
						<label for="name">Xác nhận mật khẩu mới *</label>
						<input type="password" class="form-control" name="confirmNewPassword" id="confirmNewPasswordId"/>
					</div>
					<br/>
					<div>
						<button type="button" class="btn btn-primary" id="btnSave">Lưu</button>&nbsp;&nbsp;
						<button type="reset" class="btn btn-primary" id="btnClear">Làm mới</button>
					</div>
				</form>
			</div>
		</div>
		<div th:replace="fragments/footer"></div>
	</body>
</html>