<!DOCTYPE html>
<html>
<head>
	<title>Quản lý ngày nghỉ</title>
	<meta charset="UTF-8" />
	<div th:replace="library"></div>
</head>
<script th:inline="javascript">
	/*<![CDATA[*/
		var dayOffResetStatus = {
			'0' : 'Not Reset',
			'1' : 'Reset'
		};
		
		$(function(){
			var nextYear = (new Date()).getFullYear() + 1;
			$('#yearOfSetting').append(nextYear);
			
			search();
			
			$('#btnOk').on('click', function(){
				var infoInput = 1;
				var listInput = $('#companyYearOffForm').find(':input').not("button, #reset, #notReset");
				$.each(listInput, function() {
					if($(this).val() == "" || $(this).val() === undefined || $(this).val() === null) {
						infoInput = 0;
					}
					if( $('#reset').is(':checked') == false && $('#notReset').is(':checked') == false ) { 
						infoInput = 0; 
					}
				});
				if(infoInput == 1){
					var dataRequest = {
						"day_off_reset_flag" : $('input[name=resetOrNot]:checked').val(),
						"number_day_off" : $('#numberOfDay').val()
					};
					$.ajax({
						type : "POST",
						contentType : "application/json",
						url : /*[[@{/companyYearOff/regist}]]*/,
						dataType : 'json',
						data : JSON.stringify(dataRequest),
						success : function(dataResult) {
							if (dataResult.status_info.status == 0) {
								$('#alertMessage').html("Cài đặt thành công").attr('class', 'alert alert-success').show();
							} 
							else {
								$('#alertMessage').html(dataResult.status_info.error).attr('class', 'alert alert-danger').show();
							}
							var loadTable = $('#companyYearOffTable').DataTable();
							loadTable.ajax.reload();
							
							//reset input fields to default values
							$('#numberOfDay').val("");
							$("#notReset").prop("checked", true);
							
						},
						error : function(e) {
							$('#alertMessage').html(errors['APIResponseError'](e)).attr('class', 'alert alert-danger').show();
						}
					});
				} else {
					$('#alertMessage').html(errors['incompleteFields']).attr('class', 'alert alert-danger').show();
				}
			});
			
			$('#btnClear').on('click', function() {
				$('#alertMessage').hide();
			});
		});
		
		function search(){
			var requestData = $('#companyYearOffForm').serializeJSON();
			var requestSearch = {
				"id" : requestData.id,
				"day_off_reset_flag" : requestData.name,
				"number_day_off" : requestData.number_day_off
			};
			$('#companyYearOffTable').DataTable( {
				ajax: {
					type: "POST",
					contentType: "application/json",
					url : /*[[@{/companyYearOff/getCompanyYearOffCurrentAndNextYear}]]*/,
					dataType : 'json',
					data: function () {
						return JSON.stringify(requestSearch);
					},
					dataSrc: function (data) {
						if (data.status_info.status != 0) {
							$('#alertMessage').html(errors['APIResponseError'](data.status_info.error)).attr('class', 'alert alert-danger').show();
							return [];
						}
						return data.listCompanyYearOff;
					}
				},
				destroy: true,
				searching: false,
				pageLength: 50,
				columns: [
					{ data: 'id' },
					{ 
						data: 'dayOffResetFlag',
						render: function(data, type, row){
							return dayOffResetStatus[data];
						}
					},
					{ data: 'numberDayOff' }
				]
			});
		}
	/*]]>*/
</script>
<body class="content-body">
	<div th:replace="fragments/header"></div>
	<div th:replace="menu"></div>
	
	<div class="requestOffContentBody">
		<h2>Quản lý ngày nghỉ</h2><br/>
		<div>
			<div id="alertMessage" class="alert" style="display:none;"></div>
			
			<form class="form-input" id="companyYearOffForm">
				<div class="form-group">
					<label id="yearOfSetting">Cài đặt cho năm: </label>
				</div>
				<div class="form-group">
					<label>Số ngày nghỉ trong một năm *</label>
					<input type="text" class="form-control only-positive-number" maxlength="2" name="number_day_off" id="numberOfDay"/>
				</div>
				<div class="form-group">
					<label>Reset ngày nghỉ *</label>
					<div class="row">
						<div class="col-sm-2">
							<input name="resetOrNot" type="radio" value="1" id="reset"/> Reset
						</div>
						<div class="col-sm-3">
							<input name="resetOrNot" type="radio" value="0" id="notReset" checked="checked" /> Not Reset
						</div>
					</div>
				</div>
				<br/>
				<div>
					<button type="button" class="btn btn-primary" id="btnOk">OK</button>&nbsp;&nbsp;
					<button type="reset" class="btn btn-primary" id="btnClear">Làm mới</button>
				</div>
			</form>
			
			<div class="table-responsive" style="margin-top: 3em;">
				<table class="table table-bordered table-striped table-hover"
					id="companyYearOffTable">
					<thead>
						<tr>
							<th class="text-center">Năm</th>
							<th class="text-center">Reset ngày nghỉ</th>
							<th class="text-center">Số ngày nghỉ</th>
						</tr>
					</thead>
					<tbody class="text-center">
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer"></div>
</body>
</html>