<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Create Request</title>
		<link rel="stylesheet" type="text/css" href="css/layoutStyle.css" />
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/createRequestStyle.css" />
		<link rel="stylesheet"	type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet"	type="text/css" href="css/notify.css" />
		<link rel="stylesheet" type="text/css" href="css/datatables.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/bootstrap-datepicker.min.css"/>
		<script src="javascript/jquery-3.2.1.js"></script>
		<script src="javascript/bootstrap.min.js"></script>
		<script src="javascript/jquery.serializejson.js"></script>
		<script src="javascript/common.js"></script>
		<script src="javascript/notify.js"></script>
		<script type="text/javascript" src="javascript/datatables.min.js"></script>
		<script type="text/javascript" src="javascript/bootstrap-confirmation.min.js"></script>
		<script type="text/javascript" src="javascript/bootstrap-datepicker.min.js"></script>
	</head>
	<body class="content-body">
		<script th:inline="javascript">
		/*<![CDATA[*/
			var employee;
			var employeeId;
			
			//get current user
			$.ajax({
				type : "POST",
				contentType : "application/json",
				url : /*[[@{/employee/getUser}]]*/,
				dataType : 'json',
				data : JSON.stringify({}),
				success : function(returnData) {
					employee = returnData.user;
					console.log(employee);
					employeeId = employee.id;
					console.log()
				},
				error : function(e) {
					$.notify(notification['APIResponseError'](e));
				}
			});
			
			$(function() {
				var listDayOffType;
				var listRecipient = [];
				var getStatus = {
					'1': 'saved',
					'2': 'approved',
					'3': 'denied',
					'4': 'responded',
					'5': 'waiting'
				};
				
				renderRemainHours(employee, 'remainHours');
				renderDayOffTypeSelect('id_dayOffType');
				
				//recipient select box
				listRecipient = getListRecipient(employee);
				renderRecipientSelect(listRecipient, 'id_recipient');
				
				$('#btnSave, #btnSend').on('click', function() {
					var status, alertStr;
					if( $(this).attr('id') == 'btnSave' ) {
						status = 1;
						alertStr = "Your request has been saved";
					}
					else {
						status = 5;
						alertStr = "Your request has been sent";
					}
					var createRequestData = $('#createRequestForm').serializeJSON();
					if(validate("#createRequestForm") == 1) {
						var fromDate = createRequestData.from;
						fromDate = fromDate.substr(6, 4) + "-" + fromDate.substr(0, 2) + "-" + fromDate.substr(3, 2);
						var toDate = createRequestData.to;
						toDate = toDate.substr(6, 4) + "-" + toDate.substr(0, 2) + "-" + toDate.substr(3, 2);
						var 
						
						console.log(from);
						console.log(to);
						var requestRegistRequest = {
							"id" : "",
							"employee_id" : employeeId,
							"from_time" : createRequestData.from,
							"to_time" : createRequestData.to,
							"reason" : createRequestData.reason,
							"status" : status,
							"response_message" : "",
							"day_off_type_id" : getDayOffTypeId(listDayOffType, createRequestData.dayOffType),
							"recipient_id" : getRecipientNameOrId(listRecipient, createRequestData.recipient),
							"valid_flag" : "1",
							"update_date" : ""
						}
						console.log(requestRegistRequest);
// 						var fromStr = requestRegistRequest.from;
// 						fromStr = fromStr.replace("T", " ");
// 						console.log(Date.parse(requestRegistRequest.from));
						$.ajax({
							type : "POST",
							contentType : "application/json",
							url : "/request/regist",
							dataType : 'json',
							data : JSON.stringify(requestRegistRequest),
							success : function(returnData) {
							},
							error : function(e) {
								console.log("ERROR: ", e);
							}
						});
						
						$("#createRequestForm :input").not("button, select").val("");
						$("#createRequestForm select").prop('selectedIndex', 0);
						alert(alertStr);
					}
				});
			});
			
			function validate(formId) {
				var ok = 1;
				var listInput = $(formId).find(':input').not("button");
				$.each(listInput, function() {
					if($(this).val() == "") {
						ok = 0;
					}
// 					if($("#id_to").val() )
				});
				if(ok == 0) {
					alert(errors.incompleteFields);
				}
				return ok;
			}
				
		/*]]>*/
		</script>

		<div>
			<div th:replace="fragments/header"></div>
			<div th:replace="menu"></div>

			<div class="requestOffContentBody">
				<h2>Create Request</h2>
				<div>
					<h4>You have <span id="remainHours"></span> of off time with payment left</h4>
					<form id="createRequestForm" class="form-input">
<!-- 						<div class="form-group"> -->
<!-- 							<label>From: </label> -->
<!-- 							<input type="datetime-local" class="form-control" name="from" id="id_from"/> -->
<!-- 						</div> -->
						<div class="form-group">
							<label>From: </label>
							<div class="row">
								<div class="col-sm-6">
									<div class="input-group date datepicker" data-provide="datepicker">
										<input type="text" class="form-control" name="from"/>
										<div class="input-group-addon">
											<span class="glyphicon glyphicon-th"></span>
										</div>
									</div>
								</div>	
								
								<div class="col-sm-6 form-inline" style="text-align: right;">
									<label>Hours: </label>
									<select class="form-control" name="hourFrom" style="width:100px;">
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
										<option value="11">11</option>
										<option value="12">12</option>
										<option value="13">13</option>
										<option value="14">14</option>
										<option value="15">15</option>
										<option value="16">16</option>
										<option value="17">17</option>
									</select>&nbsp;:&nbsp;
									<select class="form-control" name="minuteFrom" style="width:100px;">
										<option value="0">00</option>
										<option value="5">05</option>
										<option value="10">10</option>
										<option value="15">15</option>
										<option value="20">20</option>
										<option value="25">25</option>
										<option value="30">30</option>
										<option value="35">35</option>
										<option value="40">40</option>
										<option value="45">45</option>
										<option value="50">50</option>
										<option value="55">55</option>
									</select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label>To: </label>
							<div class="row">
								<div class="col-sm-6">
									<div class="input-group date datepicker" data-provide="datepicker">
										<input type="text" class="form-control" name="to"/>
										<div class="input-group-addon">
											<span class="glyphicon glyphicon-th"></span>
										</div>
									</div>
								</div>
								<div class="col-sm-6 form-inline" style="text-align: right;">
									<label>Hours: </label>
									<select class="form-control" name="hourFrom" style="width:100px;">
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
										<option value="11">11</option>
										<option value="12">12</option>
										<option value="13">13</option>
										<option value="14">14</option>
										<option value="15">15</option>
										<option value="16">16</option>
										<option value="17">17</option>
									</select>&nbsp;:&nbsp;
									<select class="form-control" name="minuteFrom" style="width:100px;">
										<option value="0">00</option>
										<option value="5">05</option>
										<option value="10">10</option>
										<option value="15">15</option>
										<option value="20">20</option>
										<option value="25">25</option>
										<option value="30">30</option>
										<option value="35">35</option>
										<option value="40">40</option>
										<option value="45">45</option>
										<option value="50">50</option>
										<option value="55">55</option>
									</select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label>Reason: </label>
							<textarea class="form-control" name="reason" id="id_reason"></textarea>
						</div>
						<div class="form-group">
							<label>Day off type: </label>
							<select class="form-control" name="dayOffType" id="id_dayOffType">
							</select>
						</div>
						<div class="form-group">
							<label>Send to: </label>
							<select class="form-control" name="recipient" id="id_recipient">
							</select>
						</div>
						<br/>
						<div>
							<button type="button" class="btn btn-primary" id="btnSave">Save</button>&nbsp;&nbsp;
							<button type="button" class="btn btn-primary" id="btnSend">Send</button>&nbsp;&nbsp;
							<button type="button" class="btn btn-primary" id="btnCancel">Cancel</button>
						</div>
					</form>
				</div>
			</div>
<!-- 			<div th:replace="fragments/footer"></div> -->
		</div>

	</body>
</html>