<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Create Request</title>
		<div th:replace="library"></div>
		<link rel="stylesheet" type="text/css" href="css/createRequestStyle.css" />
	</head>
	<body class="content-body">
		<script th:inline="javascript">
		/*<![CDATA[*/
			var employee;
			var employeeId;
			var remainHours;
			
			$(function() {
				var getStatus = {
					'1': 'saved',
					'2': 'approved',
					'3': 'denied',
					'4': 'responded',
					'5': 'waiting'
				};
				var requestRegistRequest = {
					"id" : "",
					"employee_id" : "",
					"from_time" : "",
					"to_time" : "",
					"total_time" : "",
					"reason" : "",
					"status" : "",
					"response_message" : "",
					"day_off_type_id" : "",
					"recipient_id" : "",
					"valid_flag" : "",
					"update_date" : ""
				};
				
				renderDayOffTypeSelect('id_dayOffType');
				
				//get current user
				$.ajax({
					type : "POST",
					contentType : "application/json",
					url : /*[[@{/employee/getUser}]]*/,
					dataType : 'json',
					data : JSON.stringify({}),
					success : function(returnData) {
						console.log(returnData);
						employee = returnData.user;
						employeeId = employee.id;
						remainHours = returnData.displayedRemainHours;
						
						renderRemainHours(returnData.displayedRemainHours, 'remainHours');
						renderRecipientSelect(returnData.listRecipients, 'id_recipient');
						
						if(returnData.listRecipients.length == 0) {
							$('#alertMessage').html("You do not belong to any team so you can not create a request!").attr('class', 'alert alert-danger').show();
							$("#btnSave, #btnSend").prop('disabled', true);
						}
					},
					error : function(e) {
						$('#alertMessage').html(errors['APIResponseError'](e)).attr('class', 'alert alert-danger').show();
					}
				});

				$('.datepicker').on('changeDate', function(ev){
					$(this).datepicker('hide');
				});
				
				$('#btnSave, #btnSend').on('click', function() {
					//validate
					var complete = 1, exceedLength = 0, dateError = 0, exceed = 0, offHoursEqual0 = 0, isNotNagativeInteger = 1;
					var listInput = $('#createRequestForm').find(':input').not("button, #offDaysId");
					$.each(listInput, function() {
						if($(this).val() == "" || $(this).val() === undefined || $(this).val() === null) {
							complete = 0;
						}
					});
					
					var createRequestData = $('#createRequestForm').serializeJSON();
					if(createRequestData.offDays == "" || createRequestData.offDays === undefined || createRequestData.offDays === null) {
						createRequestData.offDays = 0;
					} else {
						if(isNaN(createRequestData.offDays) == true || (parseFloat(createRequestData.offDays) % 1) !== 0
								|| parseFloat(createRequestData.offDays) < 0) {
							isNotNagativeInteger = 0;
						}
					}
					
					var offHours = parseInt(createRequestData.offDays) * 8 + parseFloat(createRequestData.offHours);
					console.log(offHours);
					
					if((createRequestData.reason).length > 300) {
						exceedLength = 1;
					}
					if(offHours <= 0){
						offHoursEqual0 = 1;
					}
					
					var fromDate = createRequestData.from;
					fromDate = fromDate.substr(6, 4) + "-" + fromDate.substr(0, 2) + "-" + fromDate.substr(3, 2);
					var fromTime = createRequestData.hourFrom + ":" + createRequestData.minuteFrom + ":00.0";
					var from = fromDate + " " + fromTime;
					var toDate = createRequestData.to;
					toDate = toDate.substr(6, 4) + "-" + toDate.substr(0, 2) + "-" + toDate.substr(3, 2);
					var toTime = createRequestData.hourTo + ":" + createRequestData.minuteTo + ":00.0";
					var to = toDate + " " + toTime;
					
					if(from.localeCompare(to) >= 0) {
						dateError = 1;
					}
					//end validate
					
					if(complete == 0) {
						$('#alertMessage').html(errors['incompleteFields']).attr('class', 'alert alert-danger').show();
					}
					else if(exceedLength == 1) {
						$('#alertMessage').html(errors['stringExceedLimit']).attr('class', 'alert alert-danger').show();
					}
					else if(dateError == 1) {
						$('#alertMessage').html(errors['DateError']).attr('class', 'alert alert-danger').show();
					}
					else if(isNotNagativeInteger == 0) {
						$('#alertMessage').html("Value of off days must be a non-negative integer").attr('class', 'alert alert-danger').show();
					}
					else if(offHoursEqual0 == 1) {
						$('#alertMessage').html(errors['offHoursEqual0']).attr('class', 'alert alert-danger').show();
					}
					else {
						requestRegistRequest.employee_id = employeeId;
						requestRegistRequest.from_time = from;
						requestRegistRequest.to_time = to;
						requestRegistRequest.total_time = offHours;
						requestRegistRequest.reason = createRequestData.reason;
						requestRegistRequest.day_off_type_id = createRequestData.dayOffType;
						requestRegistRequest.recipient_id = createRequestData.recipient;
						requestRegistRequest.valid_flag = "1";
						
						var notifyStr;
						if($(this).attr('id') == 'btnSave') {
							requestRegistRequest.status = "1";
							registRequest(requestRegistRequest);
						}
						else {
							$("#confirmModal").modal('show');
						}
					}
				});
				
				$("#yesConfirm").on("click", function() {
					requestRegistRequest.status = "5";
					registRequest(requestRegistRequest);
				});
				
				$('#btnClear').on('click', function() {
					$("#createRequestForm :input").not("button, select").val("");
					$("#createRequestForm select").prop('selectedIndex', 0);
				});
			});
			
			function registRequest(registData) {
				var notifyStr;
				if(registData.status == 1) {
					notifyStr = "Your request has been saved";
				} else {
					notifyStr = "Your request has been sent";
				}
				
				console.log(registData);
				$.ajax({
					type : "POST",
					contentType : "application/json",
					url : /*[[@{/request/regist}]]*/,
					dataType : 'json',
					data : JSON.stringify(registData),
					success : function(returnData) {
						if(returnData.status_info.status == 1) {
							$('#alertMessage').html(returnData.status_info.error).attr('class', 'alert alert-danger').show();
						} else {
							//get current user
							$.ajax({
								type : "POST",
								contentType : "application/json",
								url : /*[[@{/employee/getUser}]]*/,
								dataType : 'json',
								data : JSON.stringify({}),
								success : function(returnData) {
									if(returnData.status_info.status == 1) {
										$('#alertMessage').html(returnData.status_info.error).attr('class', 'alert alert-danger').show();
									} else {
										renderRemainHours(returnData.displayedRemainHours, 'remainHours');
									}
								},
								error : function(e) {
									$('#alertMessage').html(errors['APIResponseError'](e)).attr('class', 'alert alert-danger').show();
								}
							});
							$('#alertMessage').html(notifyStr).attr('class', 'alert alert-success').show();
							$("#createRequestForm :input").not("button, select").val("");
							$("#createRequestForm select").prop('selectedIndex', 0);
						}
					},
					error : function(e) {
						$('#alertMessage').html(errors['APIResponseError'](e)).attr('class', 'alert alert-danger').show();
					}
				});
			}
				
		/*]]>*/
		</script>

		<div>
			<div th:replace="fragments/header"></div>
			<div th:replace="menu"></div>

			<div class="requestOffContentBody">
				<h2>Create Request</h2>
				<div>
					<div id="alertMessage" class="alert" style="display:none;"></div>
					<h4>You have <span id="remainHours" style="font-weight: bold;"></span> of off time with payment left</h4>
					<form id="createRequestForm" class="form-input">
						<div class="form-group">
							<label>Off hours * </label>
							<div class="form-inline">
								<input type="text" class="form-control" name="offDays" id="offDaysId" style="width:100px;"/>&nbsp;day(s)&nbsp;
								<select class="form-control" name="offHours" id="offHoursId" style="width:100px;">
									<option value="0">0</option>
									<option value="0.5">0.5</option>
									<option value="1">1</option>
									<option value="1.5">1.5</option>
									<option value="2">2</option>
									<option value="2.5">2.5</option>
									<option value="3">3</option>
									<option value="3.5">3.5</option>
									<option value="4">4</option>
									<option value="4.5">4.5</option>
									<option value="5">5</option>
									<option value="5.5">5.5</option>
									<option value="6">6</option>
									<option value="6.5">6.5</option>
									<option value="7">7</option>
									<option value="7.5">7.5</option>
								</select>&nbsp;hour(s)
							</div>
						</div>
						<div class="form-group">
							<label>From * </label>
							<div class="row">
								<div class="col-sm-6">
									<div class="input-group date datepicker mydatepicker" data-provide="datepicker">
										<input type="text" class="form-control" name="from"/>
										<div class="input-group-addon">
											<span class="glyphicon glyphicon-th"></span>
										</div>
									</div>
								</div>
								
								<div class="col-sm-6 form-inline" style="text-align: right;">
									<label>Hours * </label>
									<select class="form-control" name="hourFrom" style="width:100px;">
										<option value="08">8</option>
										<option value="09">9</option>
										<option value="10">10</option>
										<option value="11">11</option>
										<option value="12">12</option>
										<option value="13">13</option>
										<option value="14">14</option>
										<option value="15">15</option>
										<option value="16">16</option>
										<option value="17">17</option>
									</select>&nbsp;:&nbsp;
									<select class="form-control" name="minuteFrom" style="width:100px;">
										<option value="00">00</option>
										<option value="05">05</option>
										<option value="10">10</option>
										<option value="15">15</option>
										<option value="20">20</option>
										<option value="25">25</option>
										<option value="30">30</option>
										<option value="35">35</option>
										<option value="40">40</option>
										<option value="45">45</option>
										<option value="50">50</option>
										<option value="55">55</option>
									</select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label>To * </label>
							<div class="row">
								<div class="col-sm-6">
									<div class="input-group date datepicker mydatepicker" data-provide="datepicker">
										<input type="text" class="form-control" name="to"/>
										<div class="input-group-addon">
											<span class="glyphicon glyphicon-th"></span>
										</div>
									</div>
								</div>
								<div class="col-sm-6 form-inline" style="text-align: right;">
									<label>Hours * </label>
									<select class="form-control" name="hourTo" style="width:100px;">
										<option value="08">8</option>
										<option value="09">9</option>
										<option value="10">10</option>
										<option value="11">11</option>
										<option value="12">12</option>
										<option value="13">13</option>
										<option value="14">14</option>
										<option value="15">15</option>
										<option value="16">16</option>
										<option value="17">17</option>
									</select>&nbsp;:&nbsp;
									<select class="form-control" name="minuteTo" style="width:100px;">
										<option value="00">00</option>
										<option value="05">05</option>
										<option value="10">10</option>
										<option value="15">15</option>
										<option value="20">20</option>
										<option value="25">25</option>
										<option value="30">30</option>
										<option value="35">35</option>
										<option value="40">40</option>
										<option value="45">45</option>
										<option value="50">50</option>
										<option value="55">55</option>
									</select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label>Reason * </label>
							<textarea class="form-control" name="reason" id="id_reason"></textarea>
						</div>
						<div class="form-group">
							<label>Day off type * </label>
							<select class="form-control" name="dayOffType" id="id_dayOffType">
							</select>
						</div>
						<div class="form-group">
							<label>Send to * </label>
							<select class="form-control" name="recipient" id="id_recipient">
							</select>
						</div>
						<br/>
						<div>
							<button type="button" class="btn btn-primary" id="btnSave">Save</button>&nbsp;&nbsp;
							<button type="button" class="btn btn-primary" id="btnSend">Send</button>&nbsp;&nbsp;
							<button type="button" class="btn btn-primary" id="btnClear">Clear</button>
						</div>
					</form>
					
					<div id="confirmModal" class="modal fade" role="dialog">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">Confirm send</h4>
								</div>
								<div class="modal-body">
									<p>Are you sure you want to send this request?</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal" id="yesConfirm">Yes</button>
									<button type="button" class="btn btn-default" data-dismiss="modal" id="noConfirm">No</button>
								</div>
								<input type="hidden" name="requestId_confirmModal" id="requestId_confirmModalId" />
								<input type="hidden" name="updateDate_confirmModal" id="updateDate_confirmModalId" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div th:replace="fragments/footer"></div>
		</div>

	</body>
</html>