<!DOCTYPE html>
<html>
<head>
	<title>Quản lý Department</title>
	<meta charset="UTF-8" />
	<div th:replace="library"></div>
</head>

<script th:inline="javascript">
	/*<![CDATA[*/
	var btnEditIsClicked;
	$(function() {
		var rowDataRequest;
		search();
		
		getLoggedUser(function(returnData){
			if(returnData.user.position.code == 2 || returnData.leaderFlag == 1){
				renderNumberOfRequest(returnData.user.id);
			}
		});
		
		renderDepartmentSelect("department", function(departments) {
			listDepartment = departments;
		});
		
		$('#btnSearch').on('click', function(){
			search();
		});
		
		$("#departmentForm").keypress(function(e) {
			if(e.which == 13) {
				search();
			}
		});
		
		$('#departmentTable').on('click', 'td', function () {
			var table = $('#departmentTable').DataTable();
			var rowData = table.row($(this).parent()).data();
			var lastOrPreLastChildTag = $(this).is(':last-child') || $(this).is(':nth-last-child(2)') ;
			if(!lastOrPreLastChildTag){
				$('#departmentDetails').val(rowData.name);
				$('#managerDetails').val(rowData.manager.name);
				$('#modalDetails').modal('show');
			}
			
			$('#teamDetails').DataTable( {
				ajax: {
					type: "POST",
					contentType: "application/json",
					url : /*[[@{/team/search}]]*/,
					dataType : 'json',
					data: function () {
						return JSON.stringify({'department_id': rowData.id});
					},
					dataSrc: function (data) {
						if (data.status_info.status != 0) {
							$('#alertMessage').html(errors['APIResponseError'](data.status_info.error)).attr('class', 'alert alert-danger').show();
							return [];
						}
						return data.teams;
					}
				},
				destroy: true,
				searching: false,
				info: false,
				lengthChange: false,
				paging: false,
				pageLength: 50,
				columns: [
					{ data: 'id' },
					{ data: 'name' },
					{ data: 'leader.name' }
				]
			});
		});
		
		$('tbody').on('click', '.glyphiconEdit', function () {
			btnEditIsClicked = $(this).hasClass("glyphiconEdit");
			rowDataRequest = $('#departmentTable').DataTable().row($(this).parent()).data();
			$('#editModal').modal('show');
			$('#editMsg').hide();
			$('#editDepartment').val(rowDataRequest.name);
			$('#editModalName').text("Sửa Department");
			$('#btnCreateModal').hide();
			$('#btnSave').show();
			departmentInfo(rowDataRequest);
		});
		
		$('#btnCreate').on('click', function(){
			rowDataRequest = $('#departmentTable').DataTable().row($(this).parent()).data();
			$('#editModal').modal('show');
			$('#editMsg').hide();
			$('#editDepartment').val("");
			$('#editModalName').text("Thêm Department");
			$('#btnCreateModal').show();
			$('#btnSave').hide();
			departmentInfo(rowDataRequest)
		});
		
		$('#btnSave, #btnCreateModal').on('click', function(){
			var isAdd;
			var requestData = {
				"name" : $('#editDepartment').val(),
				"manager_id" : $('#editManager').val()
			}
			
			if($('#editDepartment').val() == ""){
				$('#editMsg').html("Vui lòng điền vào trường Department").attr('class', 'alert alert-danger').show();
				return;
			}
			
			if ($(this).attr("id") == 'btnCreateModal') {
				isAdd = true;
				requestData.valid_flag = 1;
			} else {
				isAdd = false;
				requestData.id = rowDataRequest.id;
				requestData.update_date = rowDataRequest.updateDate;
			}
			
			$.ajax({
				type : "POST",
				contentType : "application/json",
				url : /*[[@{/department/regist}]]*/,
				dataType : 'json',
				data : JSON.stringify(requestData),
				success : function(resultData) {
					if (resultData.status_info.status == 0) {
						if (isAdd) {
							$('#alertMessage').html("Thêm Department thành công").attr('class', 'alert alert-success').show();
						} else {
							$('#alertMessage').html("Sửa Department thành công").attr('class', 'alert alert-success').show();
						}
						$('#editModal').modal('hide');
					} else {
						if($('#editManager').val() == rowDataRequest.manager.id){
							$('#alertMessage').html("Không có manager nào được thay đổi").attr('class', 'alert alert-warning').show();
							$('#editModal').modal('hide');
						} else{
							$('#editMsg').html(errors['APIResponseError'](resultData.status_info.error)).attr('class', 'alert alert-danger').show();
						}
					}
					var loadTable = $('#departmentTable').DataTable();
					loadTable.ajax.reload();
				},
				error : function(e) {
					$('#alertMessage').html(errors['APIResponseError'](e)).attr('class', 'alert alert-danger').show();
				}
			});
		});
		
		$('#departmentTable').on('click', '.btnDelete', function () {
			var button = $(this);
			$(this).confirmation({
				placement: 'left',
				title: "Bạn có chắc không?",
				btnOkLabel: "Có",
				btnCancelLabel: "Không",
				onConfirm: function() {
					var table = $('#departmentTable').DataTable();
					rowDataRequest = table.row(button.parent()).data();
					var deleteRequets = {
						"department_id" : rowDataRequest.id
					}
					$.ajax({
						type : "POST",
						contentType : "application/json",
						url : /*[[@{/department/delete}]]*/,
						dataType : 'json',
						data : JSON.stringify(deleteRequets),
						success : function(resultData) {
							if (resultData.status_info.status == 0) {
								var loadTable = $('#departmentTable').DataTable();
								loadTable.ajax.reload();
								$('#alertMessage').html("Xóa Department thành công").attr('class', 'alert alert-success').show();
							} else {
								$('#alertMessage').html(errors['APIResponseError'](resultData.status_info.error)).attr('class', 'alert alert-danger').show();
							}
						},
						error : function(e) {
							$('#alertMessage').html(errors['APIResponseError'](e)).attr('class', 'alert alert-danger').show();
						}
					});
				}
			});
			$(this).confirmation("show");
		});
		
	});
	
	function departmentInfo(rowDataRequest){
		$.ajax({
			type : "POST",
			contentType : "application/json",
			url : /*[[@{/department/departmentInfo}]]*/,
			dataType : 'json',
			data : JSON.stringify({}),
			success : function(resultData) {
				if (resultData.status_info.status == 0) {
					$('#editManager').empty();
					if (btnEditIsClicked == true) {
						$('#editManager').append('<option style="font-weight:bold;" value="' + rowDataRequest.manager.id + '" selected="true">' + rowDataRequest.manager.name + '</option>');
						btnEditIsClicked = false;
					} else {
						if (resultData.listManagerNotInDepartment.length > 0) {
							$('#btnCreateModal').show();
						} else {
							$('#btnCreateModal').hide();
							$('#editMsg').html("Không có manager nào được tìm thấy").attr('class', 'alert alert-danger').show();
						}
					}
					$.each(resultData.listManagerNotInDepartment, function(index, manager) {
						$('#editManager').append('<option value="' + manager.id + '">' + manager.name + '</option>');
					});
				} else {
					$('#alertMessage').html(errors['APIResponseError'](resultData.status_info.error)).attr('class', 'alert alert-danger').show();
				}
			},
			error : function(e) {
				$('#alertMessage').html(errors['APIResponseError'](e)).attr('class', 'alert alert-danger').show();
			}
		});
	}
	
	function search(){
		var requestData = $('#departmentForm').serializeJSON();
		var requestSearch = {
			"id" : requestData.id,
			"name_of_employee" : requestData.name_of_employee
		};
		$('#departmentTable').DataTable( {
			ajax: {
				type: "POST",
				contentType: "application/json",
				url : /*[[@{/department/search}]]*/,
				dataType : 'json',
				data: function () {
					return JSON.stringify(requestSearch);
				},
				dataSrc: function (data) {
					if (data.status_info.status != 0) {
						$('#alertMessage').html(errors['APIResponseError'](data.status_info.error)).attr('class', 'alert alert-danger').show();
						return [];
					}
					return data.listDepartment;
				}
			},
			destroy: true,
			searching: false,
			pageLength: 50,
			columns: [
				{ data: 'id' },
				{ data: 'name' },
				{ data: 'manager.name' },
				{
					render: function (index) {
							return '<a class="glyphiconEdit"><span class="glyphicon glyphicon-pencil" style="cursor: pointer;" value="' + index + '"></span></a>';
					},
				},
				{
					render: function (index) {
							return '<a class="btnDelete"><span class="glyphicon glyphicon-trash" style="cursor: pointer;" value="' + index + '"></span></a>';
					},
				}
			]
		});
	}
	/*]]>*/
</script>

<body class="content-body">
	<div th:replace="fragments/header"></div>
	<div th:replace="menu"></div>
	
	<div class="requestOffContentBody">
		<h2>Quản lý Department</h2>
		<div id="alertMessage" class="alert" style="display:none;"></div>
		<fieldset class="filter-fieldset">
			<legend>
				<a href="javascript:void(0);" data-toggle="collapse" data-target=".filter-collapse" class=""><i class="filter-toggle-icon glyphicon glyphicon-triangle-right"></i> Khung tìm kiếm</a>
			</legend>
			<div class="filter-collapse collapse">
				<form id="departmentForm" class="form-input">
					<div class="form-group">
						<label class="control-label">Department: </label>
						<select class="form-control" type="text" name="id" id="department" ></select>
					</div>
					
					<div class="form-group">
						<label class="control-label">Manager: </label>
						<input class="form-control" type="text" name="name_of_employee" id="manager" value=""></input>
					</div>
					
					<p>
						<button id="btnSearch" type="button" class="btn btn-primary" style="width:82px;">Tìm kiếm</button>&nbsp;&nbsp;
						
						<button type="reset" class="btn btn-primary" style="width:80px;">Làm mới</button>
					</p>
				</form>
			</div>
		</fieldset><br></br>
		<button id="btnCreate" type="button" class="btn btn-primary" style="width:76px;">Thêm</button>
			<div class="table-responsive" style="margin-top:3em;"> 
				<table class="table table-bordered table-striped table-hover" id="departmentTable">
					<thead>
						<tr>
							<th class="text-center" style="width: 40px;">ID</th>
							<th class="text-center">Department</th>
							<th class="text-center">Người quản lý</th>
							<th class="text-center" style="width: 40px;">Sửa</th>
							<th class="text-center" style="width: 40px;">Xóa</th>
						</tr>
					</thead>
					<tbody class="text-center" style="cursor: pointer;">
					</tbody>
				</table>
			</div>
			
			<div class="modal fade" id="modalDetails" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h3 class="modal-title">Chi tiết</h3>
						</div>
						
						<div class="modal-body">
							<div id="detailMsg" class="alert" style="display:none;"></div>
							<form class="form-horizontal" id="formModal">
								<label class="col-md-3 control-label">Department:</label>
								<div class="col-md-9">
									<input id="departmentDetails" class="form-control" readonly="readonly"></input>
								</div>
			
								<label class="col-md-3 control-label">Người quản lý:</label>
								<div class="col-md-9">
									<input id="managerDetails" class="form-control" readonly="readonly"></input>
								</div>&nbsp;
								
								<div class="row">
									<div class="col-sm-12">
										<table id="teamDetails" class="table table-bordered table-hover" style="width: 100%">
											<label>Danh sách Teams</label>
											<thead>
												<tr>
													<th class="text-center">ID</th>
													<th class="text-center">Team</th>
													<th class="text-center">Leader</th>
												</tr>
											</thead>
											<tbody>
											</tbody>
										</table>
									</div>
								</div>
								
								<p align="right">
									<button type="button" class="btn btn-default" style="width:76px;" data-dismiss="modal">Đóng</button>
								</p>
							</form>
						</div>
					</div>
				</div>
			</div>
			
			<div class="modal fade" id="editModal" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h3 id="editModalName" class="modal-title"></h3>
						</div>
						
						<div class="modal-body">
							<div id="editMsg" class="alert" style="display:none;"></div>
							<form class="form-horizontal" id="formModal">
								<label class="col-md-3 control-label">Department:</label>
								<div class="col-md-9">
									<input id="editDepartment" class="form-control"></input>
								</div>
			
								<label class="col-md-3 control-label">Người quản lý:</label>
								<div class="col-md-9">
									<select style="font-weight:bold" id="editManager" class="form-control"></select>
								</div>&nbsp;
								
								<p align="center">
									<button type="button" class="btn btn-default" id="btnCreateModal" style="width:76px;">Thêm</button>&nbsp;
									<button type="button" class="btn btn-default" id="btnSave" style="width:76px;">Lưu</button>&nbsp;
									<button type="button" class="btn btn-default" style="width:76px;" data-dismiss="modal">Hủy</button>
								</p>
							</form>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	<div th:replace="fragments/footer"></div>
</body>
</html>