<!DOCTYPE html>
<html>
<head>
	<title>Employee Off Status</title>
	<div th:replace="library"></div>
</head>

<script th:inline="javascript">
	/*<![CDATA[*/
		$(function(){
			$('#btnSearch').on('click', function(){
				search();
			});
			
			$('#employeeOffStatusForm').keypress(function(e) {
				if(e.which == 13) {
					search();
				}
			});
		});
		function search(){
			var requestData = $('#employeeOffStatusForm').serializeJSON();
			var requestSearch = {
				"year_id" : requestData.year_id,
				"employee_id": requestData.employee_id
			};
			console.log(requestSearch);
			$('#employeeOffStatusTable').DataTable( {
				ajax: {
					type: "POST",
					contentType: "application/json",
					url : /*[[@{/employeeOffStatus/search}]]*/,
					dataType : 'json',
					data: function () {
						return JSON.stringify(requestSearch);
					},
					dataSrc: 'listEmployeeOffStatus'
				},
				destroy: true,
				searching: false,
				order: [[ 1, "desc" ]],
				columns: [
					{ data: 'yearId' },
					{ data: 'employeeId' }
				]
			});
		}
	/*]]>*/
</script>

<body class="content-body">
	<div th:replace="fragments/header"></div>
	<div th:replace="menu"></div>
	
	<div class="requestOffContentBody">			
		<h2>Employee Off Status</h2>
		<div id="alertMessage" class="alert" style="display:none;"></div>
			<form id="employeeOffStatusForm" class="form-input">
				<div class="form-group">
					<label class="control-label">Year: </label>
					<input class="form-control" type="text" name="year_id" id="year" value=""></input>
				</div>
				
				<div class="form-group">
					<label class="control-label">Employee: </label>
					<input class="form-control" type="text" name="employee_id" id="employee" value=""></input>
				</div>
						
				<p>
					<button id="btnSearch" type="button" class="btn btn-primary" value="Search" style="width:76px;">Search</button>&nbsp;&nbsp;
					<button type="reset" class="btn btn-primary" style="width:76px;">Clear</button>
				</p>
			</form>
					
			<div class="table-responsive" style="margin-top:3em;"> 
				<table class="table table-bordered table-striped table-hover" id="employeeOffStatusTable">
					<thead>
						<tr>
							<th class="text-center" style="width: 40px;">Year</th>
							<th class="text-center" style="width: 40px;">Employee</th>
						</tr>
					</thead>
					<tbody class="text-center">
					</tbody>
				</table>
			</div>
	</div>
	<div th:replace="fragments/footer"></div>
</body>
</html>