<!DOCTYPE html>
<html>
<head>
	<title>Danh sách request</title>
	<div th:replace="library"></div>
</head>

<script th:inline="javascript">
	/*<![CDATA[*/
		var userData;
		var requestObjArr = [];
		var requestStatus = {
			'1' : 'Đã lưu',
			'2' : 'Chấp nhận',
			'3' : 'Từ chối',
			'4' : 'Đã phản hồi',
			'5' : 'Đang chờ'
		};
		$(function() {
			var dataReturnRequest;
			
			$.ajax({
				type : "post",
				contentType : "application/json",
				url : /*[[@{/employee/getUser}]]*/,
				data : JSON.stringify({}),
				dataType : 'json',
				success : function(data) {
					userData = data;
					search();
				},
				error : function(e) {
					$('#alertMessage').html(errors['APIResponseError'](e)).attr('class', 'alert alert-danger').show();
				}
			});
			
			renderDepartmentSelect("department", function(departments) {
				listDepartment = departments;
			});
			
			renderTeamSelect("team", function(teams) {
				listTeam = teams;
			});
			
			$('#department').on('change', function() {
				if ($(this).val() != '') {
					var id = $(this).val();
					var teams = $.grep(listTeam, function(team) {
						return team.department.id == id;
					});
					$('#team').empty().append('<option value=""></option>');
					$.each(teams, function(index, team) {
						$('#team').append('<option value="' + team.id + '">' + team.name + '</option>');
					});
				} else {
					$('#team').empty().append('<option value=""></option>');
					$.each(listTeam, function(index, team) {
						$('#team').append('<option value="' + team.id + '">' + team.name + '</option>');
					});
				}
			})
			
			$('.datepicker').on('changeDate', function(ev){
				$(this).datepicker('hide');
			});
			
			$('#btnSearch').on('click', function(){
				search();
			});
			
			$('#requestForm').keypress(function(e) {
				if(e.which == 13) {
					search();
				}
			});
			
			$('#requestTable').on('click', 'td', function () {
				var firstOrLastChildTag = $(this).is(':first-child') || $(this).is(':last-child');
				if(!firstOrLastChildTag){
					var table = $('#requestTable').DataTable();
					var rowData = table.row(this).data();
					dataReturnRequest = rowData;
					$('#nameDetails').val(rowData.employee.name);
					$('#positionDetails').val(rowData.employee.position.name);
					$('#teamDetails').val(rowData.employee.teamName);
					$('#departmentDetails').val(rowData.employee.departmentName);
					$('#teamDetails').val(rowData.employee.listTeam[0].name);
					$('#departmentDetails').val(rowData.employee.listTeam[0].department.name);
					$('#recipientDetails').val(rowData.recipientName);
					$('#fromTimeDetails').val((rowData.fromTime).substr(0, rowData.fromTime.length - 5));
					$('#toTimeDetails').val((rowData.toTime).substr(0, rowData.toTime.length - 5));
					$('#totalTimeDetails').val(Math.floor((rowData.totalTime)/8) + "d " + ((rowData.totalTime) % 8) + "h");
					$('#reasonDetails').val(rowData.reason);
					$('#statusDetails').val(requestStatus[rowData.status]);
					$('#dayOffTypeDetails').val(rowData.dayOffType.name);
					$('#responseMessage').val(rowData.responseMessage);
					
					$('#modalDetails').modal('show');
				}
			});
			
			$('#employee').typeahead({
				name: 'suggest-employee',
				limit: 100,
				hint: false,
				remote: {
					rateLimitWait: 1000,
					url : /*[[@{/employee/search}]]*/,
					replace: function (url, uriEncodedQuery){
						return url + "#" + uriEncodedQuery;
					},
					beforeSend: function (jqXhr, settings) {
						jqXhr.setRequestHeader('Content-Type','application/json');
						settings.type = 'POST';
						settings.hasContent = true;
						settings.data = JSON.stringify({"name": $('#employee').val(), "name_match_status": "0"});
					},
					filter: function (data) {
						var result = data.employees;
						var sourceArr = [];
						$.each(result, function(index, object) {
							sourceArr.push(object.name);
						});
						return sourceArr;
					}
				}
			}).bind('typeahead:selected', function(obj, selected, name) {
				$(this).typeahead('setQuery', $("<div/>").html(selected.value).text());
				return false;
			});
			
		});
		
		function search(){
			var requestData = $('#requestForm').serializeJSON();
			var requestSearch = {
				"user_id": userData.user.id,
				"from_time" : requestData.from_time,
				"to_time" : requestData.to_time,
				"status" : requestData.status,
				"employee_name": requestData.employee,
				"department_id": requestData.department,
				"team_id": requestData.team
			};
			console.log(requestData);
			$('#requestTable').DataTable( {
				ajax: {
					type: "POST",
					contentType: "application/json",
					url : /*[[@{/request/viewRequest}]]*/,
					dataType : 'json',
					data: function () {
						return JSON.stringify(requestSearch);
					},
					dataSrc: function (data) {
						if (data.status_info.status != 0) {
							$('#alertMessage').html(errors['APIResponseError'](data.status_info.error)).attr('class', 'alert alert-danger').show();
							return [];
						}
						return data.request;
					}
				},
				destroy: true,
				searching: false,
				pageLength: 50,
				order: [[ 1, "desc" ]],
				columns: [
					{ data: 'id' },
					{ data: 'employee.name' },
					{ 
						data: 'fromTime' ,
						render: function (data, type, row){
							return data.substr(0, data.length - 5);
						}
					},
					{ 
						data: 'toTime',
						render: function (data, type, row){
							return data.substr(0, data.length - 5);
						}
					},
					{ 
						data: 'totalTime',
						render: function (data, type, row){
							return Math.floor((row.totalTime)/8) + "d " + ((row.totalTime) % 8) + "h";
						}
					},
					
					{ data: 'reason' },
					{
						data: 'status',
						render: function (data, type, row) {
							return requestStatus[data];
						},
					}
				]
			});
		}
	/*]]>*/
</script>

<body class="content-body">
	<div th:replace="fragments/header"></div>
	<div th:replace="menu"></div>
	
	<div class="requestOffContentBody">
		<h2>Danh sách request</h2>
		<div id="alertMessage" class="alert" style="display:none;"></div>
		<fieldset class="filter-fieldset">
			<legend>
				<a href="javascript:void(0);" data-toggle="collapse" data-target=".filter-collapse" class=""><i class="filter-toggle-icon glyphicon glyphicon-triangle-right"></i> Search Filter</a>
			</legend>
			<div class="filter-collapse collapse">
				<form id="requestForm" class="form-input">
					<div class="form-group">
						<label class="control-label">Nhân viên: </label>
						<input class="form-control" type="text" name="employee" id="employee" value=""></input>
					</div>
							
					<div class="form-group">
						<label class="control-label">Department: </label>
						<select class="form-control" type="text" name="department" id="department" value=""></select>
					</div>
							
					<div class="form-group">
						<label class="control-label">Team: </label>
						<select class="form-control" type="text" name="team" id="team" value=""></select>
					</div>
							
					<div class="form-group">
						<label class="control-label">Trạng thái: </label>
						<select name="status" id="status" value="" class="form-control">
							<option value="">Tất cả</option>
							<option value="5">Đang chờ</option>
							<option value="2">Chấp nhận</option>
							<option value="3">Từ chối</option>
						</select>
					</div>
							
					<div class="form-group">
							<label class="control-label">Từ: </label>
						<div class="input-group date datepicker" data-provide="datepicker">
							<input type="text" class="form-control" name="from_time" id="from" value=""/>
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</div>
						</div>
					</div>
							
					<div class="form-group">
							<label class="control-label">Đến: </label>
						<div class="input-group date datepicker" data-provide="datepicker">
							<input type="text" class="form-control" name="to_time" id="to" value=""/>
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</div>
						</div>
					</div>
							
					<p>
						<button id="btnSearch" type="button" class="btn btn-primary" value="Search" style="width:76px;">Tìm kiếm</button>&nbsp;&nbsp;
						<button type="reset" class="btn btn-primary" style="width:76px;">Xóa</button>
					</p>
				</form>
			</div>
		</fieldset>
			<div class="table-responsive" style="margin-top:3em;"> 
				<table class="table table-bordered table-striped table-hover" id="requestTable">
					<thead>
						<tr>
							<th class="text-center" style="width: 40px;">ID</th>
							<th class="text-center">Nhân viên</th>
							<th class="text-center">Từ</th>
							<th class="text-center">Đến</th>
							<th class="text-center">Tổng thời gian nghỉ</th>
							<th class="text-center">Lí do</th>
							<th class="text-center">Trạng thái</th>
						</tr>
					</thead>
					<tbody class="text-center" style="cursor: pointer;">
					</tbody>
				</table>
			</div>
				
			<div class="modal fade" id="modalDetails" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h3 class="modal-title">Chi tiết</h3>
							<div id="modalDetailsMessage" class="alert" style="display:none;"></div>
						</div>
						
						<div class="modal-body">
							<form class="form-horizontal" id="formModal">
								<label class="col-md-3 control-label">Nhân viên:</label>
								<div class="col-md-9">
									<input id="nameDetails" class="form-control" readonly="readonly"></input>
								</div>
			
								<label class="col-md-3 control-label">Vị trí:</label>
								<div class="col-md-9">
									<input id="positionDetails" class="form-control" readonly="readonly"></input>
								</div>
			
								<label class="col-md-3 control-label">Team:</label>
								<div class="col-md-9">
									<input id="teamDetails" class="form-control" readonly="readonly"></input>
								</div>
			
								<label class="col-md-3 control-label">Department:</label>
								<div class="col-md-9">
									<input id="departmentDetails" class="form-control" readonly="readonly"></input>
								</div>
			
								<label class="col-md-3 control-label">Người nhận:</label>
								<div class="col-md-9">
									<input id="recipientDetails" class="form-control" readonly="readonly"></input>
								</div>
								
								<label class="col-md-3 control-label">Từ:</label>
								<div class="col-md-9">
									<input id="fromTimeDetails" class="form-control" readonly="readonly"></input>
								</div>
								
								<label class="col-md-3 control-label">Đến:</label>
								<div class="col-md-9">
									<input id="toTimeDetails" class="form-control" readonly="readonly"></input>
								</div>
								
								<label class="col-md-3 control-label">Tổng thời gian nghỉ:</label>
								<div class="col-md-9">
									<input id="totalTimeDetails" class="form-control" readonly="readonly"></input>
								</div>
			
								<label class="col-md-3 control-label">Lí do:</label>
								<div class="col-md-9">
									<input id="reasonDetails" class="form-control" readonly="readonly"></input>
								</div>
								
								<label class="col-md-3 control-label">Trạng thái:</label>
								<div class="col-md-9">
									<input id="statusDetails" class="form-control" readonly="readonly"></input>
								</div>
			
								<label class="col-md-3 control-label">Loại ngày nghỉ:</label>
								<div class="col-md-9">
									<input id="dayOffTypeDetails" class="form-control" readonly="readonly"></input>
								</div>
			
								<label class="col-md-3 control-label">Tin nhắn phản hồi:</label>
								<div class="col-md-9">
									<textarea id="responseMessage"
										placeholder="Viết tin nhắn..."
										style="height: 100px; width: 100%;">
									</textarea>
								</div>&nbsp;
								
							</form>
						</div>
					</div>
				</div>
			</div>
		
	</div>
	<div th:replace="fragments/footer"></div>
</body>
</html>