<div class="requestOffMenu">
	<nav id="navbarMenu" class="navbar navbar-fixed-left" style="width: 15%; height: 100%; position: fixed;">
		<div>
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#navbarOfMe">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="navbarOfMe">
				<ul class="nav navbar-nav row">
					<li><a class="col-ms-4 glyphicon glyphicon-home glyphicon-size" href="#">Add Request</a></li>
					<li><a class="col-ms-4 glyphicon glyphicon-plus glyphicon-size" href="#">Request History</a></li>
					<li><a class="col-ms-4 glyphicon glyphicon-eye-open glyphicon-size" href="#">List slack request</a></li>
					<li><a class="col-ms-4 glyphicon glyphicon-user glyphicon-size" href="#">Create employee</a></li>
					<li><a class="col-ms-4 glyphicon glyphicon-user glyphicon-size" href="#">Update request list</a></li>
					<li><a class="col-ms-4 glyphicon glyphicon-user glyphicon-size" href="#">Setting</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
