<script>
	$(document).ready(function() {
		$('[data-toggle="tooltip"]').tooltip();
	});
</script>
<div class="requestOffMenu">
	<nav class="navbar navbar-inverse navbar-fixed-left" style="width: 13%; height: 100%; position: fixed;">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#navbarOfMe">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="navbarOfMe">
				<ul class="nav navbar-nav row">
					<li><a class="col-ms-4 glyphicon glyphicon-user glyphicon-size" href="#">
							Account</a></li>
					<li><a class="col-ms-4 glyphicon glyphicon-plus glyphicon-size" href="#">
							Add Request</a></li>
					<li><a class="col-ms-4 glyphicon glyphicon-eye-open glyphicon-size" href="#">
							Request History</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
