<div class="requestOffMenu">
	<nav id="navbarMenu" class="navbar navbar-fixed-left">
		<div>
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#navbarOfMe">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="navbarOfMe">
				<ul class="nav navbar-nav">
					<li><a th:href="@{'/createRequest'}"><span class="glyphicon glyphicon-plus-sign"></span> Tạo request</a></li>
					<li><a th:href="@{'/requestHistory'}"><span class="glyphicon glyphicon-list"></span> Lịch sử request</a></li>
					<li><a th:href="@{'/requestBrowsing'}"><span class="glyphicon glyphicon-list"></span> DS request chờ duyệt</a></li>
					<li><a th:href="@{'/hrViewRequests'}"><span class="glyphicon glyphicon-list"></span> DS request</a></li>
					<li><a th:href="@{'/statistic'}"><span class="glyphicon glyphicon-list"></span> Thống kê</a></li>
					<li><a th:href="@{'/employeeManagement'}"><span class="glyphicon glyphicon-list"></span> Quản lý nhân viên</a></li>
					<li><a th:href="@{'/departmentManagement'}"><span class="glyphicon glyphicon-list"></span> Quản lý department</a></li>
					<li><a th:href="@{'/teamManagement'}"><span class="glyphicon glyphicon-list"></span> Quản lý team</a></li>
					<li><a th:href="@{'/slack'}"><span class="glyphicon glyphicon-list"></span> Quản lý request từ Slack</a></li>
					<li><a th:href="@{'/companyYearOffManagement'}"><span class="glyphicon glyphicon-list"></span> Quản lý cài đặt ngày nghỉ</a></li>
					<li><a th:href="@{'/changePassword'}"><span class="glyphicon glyphicon-list"></span> Đổi mật khẩu</a></li>
<!-- 					<li><a href="#"><span class="glyphicon glyphicon-list"></span> List slack request</a></li> -->
<!-- 					<li><a href="#"><span class="glyphicon glyphicon-plus-sign"></span> Create employee</a></li> -->
<!-- 					<li><a href="#"><span class="glyphicon glyphicon-list"></span> Update request list</a></li> -->
<!-- 					<li><a href="#"><span class="glyphicon glyphicon-cog"></span> Setting</a></li> -->
				</ul>
			</div>
		</div>
	</nav>
</div>
