<!DOCTYPE html>
<html>
<head>
	<title>Request Browsing</title>
	<div th:replace="library"></div>
</head>

<script th:inline="javascript">
	/*<![CDATA[*/
		var employeeLoginId;
		var userData;
		var requestObjArr = [];
		var requestStatus = {
			'1' : 'Saved',
			'2' : 'Approved',
			'3' : 'Denied',
			'4' : 'Responded',
			'5' : 'Waiting'
		};
		$(function() {
			var dataReturnRequest;
			
			$.ajax({
				type : "post",
				contentType : "application/json",
				url : /*[[@{/employee/getUser}]]*/,
				data : JSON.stringify({}),
				dataType : 'json',
				success : function(data) {
					userData = data;
					employeeLoginId = data.user.id;
				},
				error : function(e) {
					$('#alertMessage').html(errors['APIResponseError'](e)).attr('class', 'alert alert-danger').show();
				}
			});
			
			$('[data-toggle="tooltip"]').tooltip();
			
			$('.datepicker').on('changeDate', function(ev){
				$(this).datepicker('hide');
			});
			
			$('#btnSearch').on('click', function(){
				search();
			});
			
			$('#requestForm').keypress(function(e) {
				if(e.which == 13) {
					search();
				}
			});
			
			$('#requestTable').on('click', 'td', function () {
				var isFirstOrLast = $(this).is(':first-child') || $(this).is(':last-child');
				if(!isFirstOrLast){
					var table = $('#requestTable').DataTable();
					var rowData = table.row(this).data();
					dataReturnRequest = rowData;
					console.log("rowData" + rowData);
					$('#nameDetails').val(rowData.employee.name);
					$('#positionDetails').val(rowData.employee.position.name);
					if(rowData.employee.position.id == 2 || rowData.employee.position.id == 3){
						$('#teamDetails').val(rowData.employee.teamName);
						$('#departmentDetails').val(rowData.employee.departmentName);
					} else if(rowData.employee.position.id == 1){
						$('#teamDetails').val(rowData.employee.listTeam[0].name);
						$('#departmentDetails').val(rowData.employee.listTeam[0].department.name);
					}
					$('#recipientDetails').val(rowData.recipientName);
					$('#fromTimeDetails').val(rowData.fromTime);
					$('#toTimeDetails').val(rowData.toTime);
					$('#totalTimeDetails').val(rowData.totalTime);
					$('#reasonDetails').val(rowData.reason);
					$('#statusDetails').val(requestStatus[rowData.status]);
					$('#dayOffTypeDetails').val(rowData.dayOffType.name);
					$('#responseMessage').val(rowData.responseMessage);
					
					$('#forward').empty();
					if(rowData.status != 5){
						$('#btnApproveModal, #btnDenyModal, #btnSendModal, #btnForward, #responseMessage').prop('disabled', true);
					} else {
						if (rowData.recipientId == userData.user.id) {
							if (rowData.forwardId != 0 && rowData.forwardName != null) {
								$('#forward').append('<option value = "' + rowData.forwardId + '">' + rowData.forwardName + '</option>');
								$('#btnForward').prop('disabled', false);
							} else {
								$('#btnForward').prop('disabled', true);
							}
						}
						$('#btnApproveModal, #btnDenyModal, #btnSendModal, #forward, #responseMessage').prop('disabled', false);
					}
					
					$('#modalDetails').modal('show');
				}
			});
			
			$("#btnApproveModal, #btnDenyModal, #btnSendModal, #btnForward").on('click', function(){
				requestObjArr = [];
				var requestObj = {
					"id" : dataReturnRequest.id ,
					"update_date": dataReturnRequest.updateDate
				}
				if ($(this).attr('id') == 'btnApproveModal') {
					$('#confirmMsg').text("Are you sure want to APPROVE this request ?");
					requestObj['status'] = 2;
				} else if ($(this).attr('id') == 'btnDenyModal') {
					$('#confirmMsg').text("Are you sure want to DENY this request ?");
					requestObj['status'] = 3;
				} else if ($(this).attr('id') == 'btnSendModal') {
					$('#confirmMsg').text("Are you sure want to SEND MESSAGE to this request ?");
					requestObj['status'] = 4;
				} else if ($(this).attr('id') == 'btnForward') {
					$('#confirmMsg').text("Are you sure want to FORWARD this request to " + dataReturnRequest.forwardName + " ?");
					requestObj['recipient_id'] = $("#forward").val();
				}
				
				requestObj['response_message'] = $('#responseMessage').val();
				requestObjArr.push(requestObj);
				$('#confirmModal').modal('show');
			});
			
			$("#btnApprove, #btnDeny").on('click', function() {
				requestObjArr = [];
				var status = $(this).attr('id') == 'btnApprove' ? 2 : 3;
				var action = $(this).attr('id') == 'btnApprove' ? 'APPROVE' : 'DENY';
				if($('#requestTable input[type="checkbox"]:checked').length > 0){
					var numberOfRequest = $('#requestTable input[type="checkbox"]:checked').length;
					if(numberOfRequest == 1){
						$('#confirmMsg').text("Are you sure want to " + action + " this request ?");
					} else {
						$('#confirmMsg').text("Are you sure want to " + action + " "+ numberOfRequest + " requests ?");
					}
					$('#requestTable input[type="checkbox"]:checked').each(function(){
						var table = $('#requestTable').DataTable();
						var rowData = table.row($(this).parent()).data();
						var requestObj = {};
						requestObj['id'] = rowData.id;
						requestObj['update_date'] = rowData.updateDate;
						requestObj['status'] = status;
						requestObjArr.push(requestObj);
					});
					
					$('#confirmModal').modal('show');
				} else {
					$('#alertModal').modal('show');
					$('#alertMsg').text("You must select at least 1 request before clicking this button!").attr('class', 'alert alert-warning').show();
				}
			});
			
			$('#requestTable').on('click', '.btnApprove, .btnDeny', function () {
				requestObjArr = [];
				var table = $('#requestTable').DataTable();
				var rowData = table.row($(this).parent()).data();
				var requestObj = {
					"id" : rowData.id ,
					"update_date": rowData.updateDate
				}
				if ($(this).hasClass('btnApprove')) {
					$('#confirmMsg').text("Are you sure want to APPROVE this request ?");
					requestObj["status"] = 2;
				} else {
					$('#confirmMsg').text("Are you sure want to DENY this request ?");
					requestObj["status"] = 3;
				}
				requestObjArr.push(requestObj);
				$('#confirmModal').modal('show');
			});
			
			$('#btnYes').on("click", function(){
				var length = requestObjArr.length;
				$.each(requestObjArr, function(index, object) {
					if (index == length - 1)
						updateRequest(object, true);
					else 
						updateRequest(object, false);
				});
			});
			
			$('#employee').typeahead({
				name: 'suggest-employee',
				limit: 100,
				hint: false,
				remote: {
					rateLimitWait: 1000,
					url : /*[[@{/employee/search}]]*/,
					replace: function (url, uriEncodedQuery){
						return url + "#" + uriEncodedQuery;
					},
					beforeSend: function (jqXhr, settings) {
						jqXhr.setRequestHeader('Content-Type','application/json');
						settings.type = 'POST';
						settings.hasContent = true;
						settings.data = JSON.stringify({"name": $('#employee').val(), "name_match_status": "0"});
					},
					filter: function (data) {
						var result = data.employees;
						var sourceArr = [];
						$.each(result, function(index, object) {
							sourceArr.push(object.name);
						});
						return sourceArr;
					}
				}
			}).bind('typeahead:selected', function(obj, selected, name) {
				$(this).typeahead('setQuery', $("<div/>").html(selected.value).text());
				return false;
			});
			
		});
		
		function updateRequest(requestObj, isLoadTable) {
			$.ajax({
				type : "POST",
				contentType : "application/json",
				url : /*[[@{/request/regist}]]*/,
				dataType : 'json',
				data : JSON.stringify(requestObj),
				success : function(resultData) {
					if (resultData.status_info.status == 0) {
						$('#modalDetails').modal('hide');
						var loadTable = $('#requestTable').DataTable();
						if (typeof isLoadTable == 'undefined')
							isLoadTable = false;
						if (isLoadTable)
							loadTable.ajax.reload();
					} else {
						$('#alertMessage').html(errors['APIResponseError'](resultData.status_info.error)).attr('class', 'alert alert-danger').show();
					}
					
				},
				error : function(e) {
					$('#alertMessage').html(errors['APIResponseError'](e)).attr('class', 'alert alert-danger').show();
				}
			});
		}
		
		function search(){
			var requestData = $('#requestForm').serializeJSON();
			var requestSearch = {
				"user_id": userData.user.id,
				"from_time" : requestData.from_time,
				"to_time" : requestData.to_time,
				"status" : requestData.status,
				"name": requestData.name
			};
			console.log(requestSearch);
			$('#requestTable').DataTable( {
				ajax: {
					type: "POST",
					contentType: "application/json",
					url : /*[[@{/request/getRequestBrowsing}]]*/,
					dataType : 'json',
					data: function () {
						return JSON.stringify(requestSearch);
					},
					dataSrc: 'requests'
				},
				destroy: true,
				searching: false,
				order: [[ 1, "desc" ]],
				columns: [
					{
						data: 'status',
						render: function (data, type, row) {
							if(row.status != 5){
								return '<input id="checkbox" type="checkbox" disabled="disabled">';
							} else {
								return '<input id="checkbox" type="checkbox" >';
							}
						},
					},
					{ data: 'id' },
					{ data: 'employee.name' },
					{ data: 'fromTime' },
					{ data: 'toTime' },
					{ data: 'totalTime' },
					{ data: 'reason' },
					{
						data: 'status',
						render: function (data, type, row) {
							if(row.status == 5) {
								return '<a data-toggle="tooltip" title="Approve" class="btnApprove"><span class="glyphicon glyphicon-ok">&nbsp;&nbsp;<a data-toggle="tooltip" title="Deny" class="btnDeny"><span class="glyphicon glyphicon-remove"></span></a></a>';
							} else {
								return requestStatus[data];
							}
						},
					}
				]
			});
		}
	/*]]>*/
</script>

<body class="content-body">
	<div th:replace="fragments/header"></div>
	<div th:replace="menu"></div>
	
	<div class="requestOffContentBody">			
		<h2>Request Browsing</h2>
		<div id="alertMessage" class="alert" style="display:none;"></div>
			<form id="requestForm" class="form-input">
				<div class="form-group">
					<label class="control-label">Employee: </label>
					<input class="form-control" type="text" name="name" id="employee" value=""></input>
				</div>
						
				<div class="form-group">
					<label class="control-label">Request Status: </label>
					<select name="status" id="status" value="" class="form-control">
						<option value="5">Waiting</option>
						<option value="2">Approved</option>
						<option value="3">Denied</option>
						<option value="">All Requests</option>
					</select>
				</div>
						
				<div class="form-group">
						<label class="control-label">From: </label>
					<div class="input-group date datepicker" data-provide="datepicker">
						<input type="text" class="form-control" name="from_time" id="from" value=""/>
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</div>
					</div>
				</div>
						
				<div class="form-group">
						<label class="control-label">To: </label>
					<div class="input-group date datepicker" data-provide="datepicker">
						<input type="text" class="form-control" name="to_time" id="to" value=""/>
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</div>
					</div>
				</div>
						
				<p>
					<button id="btnSearch" type="button" class="btn btn-primary" value="Search" style="width:76px;">Search</button>&nbsp;&nbsp;
					<button type="reset" class="btn btn-primary" style="width:76px;">Clear</button>
				</p>
			</form>
					
			<div class="table-responsive" style="margin-top:3em;"> 
				<table class="table table-bordered table-striped table-hover" id="requestTable">
					<thead>
						<tr>
							<th class="text-center" name="select" style="width: 40px;">Select</th>
							<th class="text-center" name="id" id="id" style="width: 40px;">ID</th>
							<th class="text-center" name="name">Employee</th>
							<th class="text-center" name="from">From</th>
							<th class="text-center" name="to">To</th>
							<th class="text-center" name="totalTime">Total Time</th>
							<th class="text-center" name="reason">Reason</th>
							<th class="text-center" name="approve">Status</th>
						</tr>
					</thead>
					<tbody class="text-center">
					</tbody>
				</table>
			</div>
				
			<button type="button" class="btn btn-primary" id="btnApprove" >Approve</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" style="width:76px;" id="btnDeny">Deny</button>
				
			<div class="modal fade" id="modalDetails" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title">Details</h4>
						</div>
						
						<div class="modal-body">
							<form class="form-horizontal" id="formModal">
								<label class="col-md-3 control-label">Employee:</label>
								<div class="col-md-9">
									<input id="nameDetails" class="form-control" readonly="readonly"></input>
								</div>
			
								<label class="col-md-3 control-label">Position:</label>
								<div class="col-md-9">
									<input id="positionDetails" class="form-control" readonly="readonly"></input>
								</div>
			
								<label class="col-md-3 control-label">Team:</label>
								<div class="col-md-9">
									<input id="teamDetails" class="form-control" readonly="readonly"></input>
								</div>
			
								<label class="col-md-3 control-label">Department:</label>
								<div class="col-md-9">
									<input id="departmentDetails" class="form-control" readonly="readonly"></input>
								</div>
			
								<label class="col-md-3 control-label">Recipient:</label>
								<div class="col-md-9">
									<input id="recipientDetails" class="form-control" readonly="readonly"></input>
								</div>
								
								<label class="col-md-3 control-label">From:</label>
								<div class="col-md-9">
									<input id="fromTimeDetails" class="form-control" readonly="readonly"></input>
								</div>
								
								<label class="col-md-3 control-label">To:</label>
								<div class="col-md-9">
									<input id="toTimeDetails" class="form-control" readonly="readonly"></input>
								</div>
								
								<label class="col-md-3 control-label">Total Time:</label>
								<div class="col-md-9">
									<input id="totalTimeDetails" class="form-control" readonly="readonly"></input>
								</div>
			
								<label class="col-md-3 control-label">Reason:</label>
								<div class="col-md-9">
									<input id="reasonDetails" class="form-control" readonly="readonly"></input>
								</div>
								
								<label class="col-md-3 control-label">Status:</label>
								<div class="col-md-9">
									<input id="statusDetails" class="form-control" readonly="readonly"></input>
								</div>
			
								<label class="col-md-3 control-label">Day Off Type:</label>
								<div class="col-md-9">
									<input id="dayOffTypeDetails" class="form-control" readonly="readonly"></input>
								</div>
			
								<label class="col-md-3 control-label">Response Message:</label>
								<div class="col-md-9">
									<textarea id="responseMessage"
										placeholder="Write message..."
										style="height: 100px; width: 100%;">
									</textarea>
								</div>&nbsp;
								
								<p align="center">
									<button type="button" class="btn btn-default" style="width:76px;" id="btnApproveModal">Approve</button>
									<button type="button" class="btn btn-default" style="width:76px;" id="btnDenyModal">Deny</button>
									<button type="button" class="btn btn-default" style="width:76px;" id="btnSendModal">Send</button>
									<button type="button" class="btn btn-default" style="width:76px;" data-dismiss="modal">Cancel</button>
								</p>
			
								<label> Forward request to : <select name="forward" id="forward" value=""></select>
								</label>
								
								<button type="button" class="btn btn-default btn-sm" id="btnForward">
									<span class="glyphicon glyphicon-share-alt"></span>Forward
								</button>
								
							</form>
						</div>
					</div>
				</div>
			</div>

		<div class="modal fade" id="confirmModal" role="dialog">
			<div class="modal-dialog">

				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h2 class="modal-title">Confirm</h2>
					</div>
					<div class="modal-body">
						<h4 id="confirmMsg"></h4>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal" id="btnYes">Yes</button>
						<button type="button" class="btn btn-default" data-dismiss="modal" id="btnNo">No</button>
					</div>
				</div>

			</div>
		</div>
		
		<div class="modal fade" id="alertModal" role="dialog">
			<div class="modal-dialog">

				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h2 class="modal-title"><span class="glyphicon glyphicon-alert"></span> Warning</h2>
					</div>
					<div class="modal-body">
						<h4 id="alertMsg"></h4>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-warning" data-dismiss="modal" id="btnConfirm">Got it</button>
					</div>
				</div>

			</div>
		</div>
		
	</div>
	<div th:replace="fragments/footer"></div>
</body>
</html>