<!DOCTYPE html>
<html>
<head>
	<title>Duyệt Request</title>
	<div th:replace="library"></div>
</head>

<script th:inline="javascript">
	/*<![CDATA[*/
		var userData;
		var requestObjArr = [];
		var requestStatus = {
			'1' : 'Đã lưu',
			'2' : 'Chấp nhận',
			'3' : 'Từ chối',
			'4' : 'Đã phản hồi',
			'5' : 'Đang chờ'
		};
		$(function() {
			var dataReturnRequest;
			
			$.ajax({
				type : "post",
				contentType : "application/json",
				url : /*[[@{/employee/getUser}]]*/,
				data : JSON.stringify({}),
				dataType : 'json',
				success : function(data) {
					userData = data;
					search();
				},
				error : function(e) {
					$('#alertMessage').html(errors['APIResponseError'](e)).attr('class', 'alert alert-danger').show();
				}
			});
			
			$('[data-toggle="tooltip"]').tooltip();
			
			$('.datepicker').on('changeDate', function(ev){
				$(this).datepicker('hide');
			});
			
			$('#btnSearch').on('click', function(){
				search();
			});
			
			$('#requestForm').keypress(function(e) {
				if(e.which == 13) {
					search();
				}
			});
			
			$('#requestTable').on('click', 'td', function () {
				var firstOrLastChildTag = $(this).is(':first-child') || $(this).is(':last-child');
				if(!firstOrLastChildTag){
					var table = $('#requestTable').DataTable();
					var rowData = table.row(this).data();
					dataReturnRequest = rowData;
					$('#nameDetails').val(rowData.employee.name);
					$('#positionDetails').val(rowData.employee.position.name);
					$('#teamDetails').val(rowData.employee.teamName);
					$('#departmentDetails').val(rowData.employee.departmentName);
					$('#teamDetails').val(rowData.employee.listTeam[0].name);
					$('#departmentDetails').val(rowData.employee.listTeam[0].department.name);
					$('#recipientDetails').val(rowData.recipientName);
					$('#fromTimeDetails').val((rowData.fromTime).substr(0, rowData.fromTime.length - 5));
					$('#toTimeDetails').val((rowData.toTime).substr(0, rowData.toTime.length - 5));
					$('#totalTimeDetails').val(Math.floor((rowData.totalTime)/8) + "d " + ((rowData.totalTime) % 8) + "h");
					$('#reasonDetails').val(rowData.reason);
					$('#statusDetails').val(requestStatus[rowData.status]);
					$('#dayOffTypeDetails').val(rowData.dayOffType.name);
					$('#responseMessage').val(rowData.responseMessage);
					
					$('#forward').empty();
					if(rowData.status != 5){
						$('#btnApproveModal, #btnDenyModal, #btnSendModal, #btnForward, #responseMessage').prop('disabled', true);
					} else {
						if (rowData.recipientId == userData.user.id) {
							if (rowData.forwardId != 0 && rowData.forwardName != null) {
								$('#forward').append('<option value = "' + rowData.forwardId + '">' + rowData.forwardName + '</option>');
								$('#btnForward').prop('disabled', false);
							} else {
								$('#btnForward').prop('disabled', true);
							}
						}
						$('#btnApproveModal, #btnDenyModal, #btnSendModal, #forward, #responseMessage').prop('disabled', false);
					}
					
					$('#modalDetails').modal('show');
					$('#modalDetailsMessage').hide();
				}
			});
			
			$("#btnApproveModal, #btnDenyModal, #btnSendModal, #btnForward").on('click', function(){
				requestObjArr = [];
				var requestObj = {
					"id" : dataReturnRequest.id ,
					"update_date": dataReturnRequest.updateDate
				}
				var isNotSend = true;
				if ($(this).attr('id') == 'btnApproveModal') {
					$('#confirmMsg').text("Bạn có chắc chắn muốn CHẤP NHẬN request này ?");
					requestObj['status'] = 2;
				} else if ($(this).attr('id') == 'btnDenyModal') {
					$('#confirmMsg').text("Bạn có chắc chắn muốn TỪ CHỐI request này ?");
					requestObj['status'] = 3;
				} else if ($(this).attr('id') == 'btnSendModal') {
					if($('#responseMessage').val() == ""){
						$('#modalDetailsMessage').text("Bạn phải nhập tin nhắn trước khi gửi request này !").attr('class', 'alert alert-danger').show();
						isNotSend = false;
					} else{
						$('#confirmMsg').text("Bạn có chắc chắn muốn GỬI TIN NHẮN đến request này ?");
						requestObj['status'] = 4;
					}
				} else if ($(this).attr('id') == 'btnForward') {
					$('#confirmMsg').text("Bạn có chắc chắn muốn CHUYỂN request này đến " + dataReturnRequest.forwardName + " ?");
					requestObj['recipient_id'] = $("#forward").val();
				}
				if(isNotSend == true){
					$('#confirmModal').modal('show');
				} else {
					$('#confirmModal').modal('hide');
				}
				requestObj['response_message'] = $('#responseMessage').val();
				requestObjArr.push(requestObj);
			});
			
			$("#btnApprove, #btnDeny").on('click', function() {
				requestObjArr = [];
				var status = $(this).attr('id') == 'btnApprove' ? 2 : 3;
				var action = $(this).attr('id') == 'btnApprove' ? 'CHẤP NHẬN' : 'TỪ CHỐI';
				if($('#requestTable input[type="checkbox"]:checked').length > 0){
					var numberOfRequest = $('#requestTable input[type="checkbox"]:checked').length;
					if(numberOfRequest == 1){
						$('#confirmMsg').text("Bạn có chắc chắn muốn " + action + " request này ?");
					} else {
						$('#confirmMsg').text("Bạn có chắc chắn muốn  " + action + " "+ numberOfRequest + " những request này ?");
					}
					$('#requestTable input[type="checkbox"]:checked').each(function(){
						var table = $('#requestTable').DataTable();
						var rowData = table.row($(this).parent()).data();
						var requestObj = {};
						requestObj['id'] = rowData.id;
						requestObj['update_date'] = rowData.updateDate;
						requestObj['status'] = status;
						requestObjArr.push(requestObj);
					});
					
					$('#confirmModal').modal('show');
				} else {
					$('#alertModal').modal('show');
					$('#alertMsg').text("Bạn phải chọn ít nhất 1 request !").attr('class', 'alert alert-warning').show();
				}
			});
			
			$('#requestTable').on('click', '.btnApprove, .btnDeny', function () {
				requestObjArr = [];
				var table = $('#requestTable').DataTable();
				var rowData = table.row($(this).parent()).data();
				var requestObj = {
					"id" : rowData.id ,
					"update_date": rowData.updateDate
				}
				if ($(this).hasClass('btnApprove')) {
					$('#confirmMsg').text("Bạn có chắc chắn muốn CHẤP NHẬN request này ?");
					requestObj["status"] = 2;
				} else {
					$('#confirmMsg').text("Bạn có chắc chắn muốn TỪ CHỐI request này ?");
					requestObj["status"] = 3;
				}
				requestObjArr.push(requestObj);
				$('#confirmModal').modal('show');
			});
			
			$('#btnYes').on("click", function(){
				var length = requestObjArr.length;
				$.each(requestObjArr, function(index, object) {
					if (index == length - 1)
						updateRequest(object, true);
					else 
						updateRequest(object, false);
				});
			});
			
			$('#employee').typeahead({
				name: 'suggest-employee',
				limit: 100,
				hint: false,
				remote: {
					rateLimitWait: 1000,
					url : /*[[@{/employee/search}]]*/,
					replace: function (url, uriEncodedQuery){
						return url + "#" + uriEncodedQuery;
					},
					beforeSend: function (jqXhr, settings) {
						jqXhr.setRequestHeader('Content-Type','application/json');
						settings.type = 'POST';
						settings.hasContent = true;
						settings.data = JSON.stringify({"name": $('#employee').val(), "name_match_status": "0"});
					},
					filter: function (data) {
						var result = data.employees;
						var sourceArr = [];
						$.each(result, function(index, object) {
							sourceArr.push(object.name);
						});
						return sourceArr;
					}
				}
			}).bind('typeahead:selected', function(obj, selected, name) {
				$(this).typeahead('setQuery', $("<div/>").html(selected.value).text());
				return false;
			});
			
		});
		
		function updateRequest(requestObj, isLoadTable) {
			$.ajax({
				type : "POST",
				contentType : "application/json",
				url : /*[[@{/request/regist}]]*/,
				dataType : 'json',
				data : JSON.stringify(requestObj),
				success : function(resultData) {
					if (resultData.status_info.status == 0) {
						$('#modalDetails').modal('hide');
						var loadTable = $('#requestTable').DataTable();
						if (typeof isLoadTable == 'undefined')
							isLoadTable = false;
						if (isLoadTable)
							loadTable.ajax.reload();
					} else {
						$('#alertMessage').html(errors['APIResponseError'](resultData.status_info.error)).attr('class', 'alert alert-danger').show();
					}
					
				},
				error : function(e) {
					$('#alertMessage').html(errors['APIResponseError'](e)).attr('class', 'alert alert-danger').show();
				}
			});
		}
		
		function search(){
			var requestData = $('#requestForm').serializeJSON();
			var requestSearch = {
				"user_id": userData.user.id,
				"from_time" : requestData.from_time,
				"to_time" : requestData.to_time,
				"status" : requestData.status,
				"name": requestData.name
			};
			$('#requestTable').DataTable( {
				ajax: {
					type: "POST",
					contentType: "application/json",
					url : /*[[@{/request/getRequestBrowsing}]]*/,
					dataType : 'json',
					data: function () {
						return JSON.stringify(requestSearch);
					},
					dataSrc: function (data) {
						if (data.status_info.status != 0) {
							$('#alertMessage').html(errors['APIResponseError'](data.status_info.error)).attr('class', 'alert alert-danger').show();
							return [];
						}
						return data.requests;
					}
				},
				destroy: true,
				searching: false,
				pageLength: 50,
				order: [[ 1, "desc" ]],
				columns: [
					{
						data: 'status',
						render: function (data, type, row) {
							if(row.status != 5){
								return '<input id="checkbox" type="checkbox" disabled="disabled">';
							} else {
								return '<input id="checkbox" type="checkbox" >';
							}
						},
					},
					{ data: 'id' },
					{ data: 'employee.name' },
					{ 
						data: 'fromTime' ,
						render: function (data, type, row){
							return data.substr(0, data.length - 5);
						}
					},
					{ 
						data: 'toTime',
						render: function (data, type, row){
							return data.substr(0, data.length - 5);
						}
					},
					{ 
						data: 'totalTime',
						render: function (data, type, row){
							return Math.floor((row.totalTime)/8) + "d " + ((row.totalTime) % 8) + "h";
						}
					},
					
					{ data: 'reason' },
					{
						data: 'status',
						render: function (data, type, row) {
							if(row.status == 5) {
								return '<a data-toggle="tooltip" title="Approve" class="btnApprove"><span class="glyphicon glyphicon-ok" style="cursor: pointer;">&nbsp;&nbsp;<a data-toggle="tooltip" title="Deny" class="btnDeny"><span class="glyphicon glyphicon-remove" style="cursor: pointer;"></span></a></a>';
							} else {
								return requestStatus[data];
							}
						},
					}
				]
			});
		}
	/*]]>*/
</script>

<body class="content-body">
	<div th:replace="fragments/header"></div>
	<div th:replace="menu"></div>
	
	<div class="requestOffContentBody">			
		<h2>Duyệt Request</h2>
		<div id="alertMessage" class="alert" style="display:none;"></div>
		<fieldset class="filter-fieldset">
			<legend>
				<a href="javascript:void(0);" data-toggle="collapse" data-target=".filter-collapse" class=""><i class="filter-toggle-icon glyphicon glyphicon-triangle-right"></i> Khung tìm kiếm</a>
			</legend>
			<div class="filter-collapse collapse">
				<form id="requestForm" class="form-input">
					<div class="form-group">
						<label class="control-label">Nhân viên: </label>
						<input class="form-control" type="text" name="name" id="employee" value=""></input>
					</div>
							
					<div class="form-group">
						<label class="control-label">Trạng thái: </label>
						<select name="status" id="status" value="" class="form-control">
							<option value="5">Đang chờ</option>
							<option value="">Tất cả</option>
							<option value="2">Chấp nhận</option>
							<option value="3">Từ chối</option>
						</select>
					</div>
							
					<div class="form-group">
							<label class="control-label">Từ: </label>
						<div class="input-group date datepicker" data-provide="datepicker">
							<input type="text" class="form-control" name="from_time" id="from" value=""/>
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</div>
						</div>
					</div>
							
					<div class="form-group">
							<label class="control-label">Đến: </label>
						<div class="input-group date datepicker" data-provide="datepicker">
							<input type="text" class="form-control" name="to_time" id="to" value=""/>
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</div>
						</div>
					</div>
							
					<p>
						<button id="btnSearch" type="button" class="btn btn-primary" value="Search" style="width:79px;">Tìm kiếm</button>&nbsp;&nbsp;
						<button type="reset" class="btn btn-primary" style="width:76px;">Xóa</button>
					</p>
				</form>
			</div>
		</fieldset>
			<div class="table-responsive" style="margin-top:3em;"> 
				<table class="table table-bordered table-striped table-hover" id="requestTable">
					<thead>
						<tr>
							<th class="text-center" style="width: 40px;">Chọn</th>
							<th class="text-center" style="width: 40px;">ID</th>
							<th class="text-center">Nhân viên</th>
							<th class="text-center">Từ</th>
							<th class="text-center">Đến</th>
							<th class="text-center">Tổng thời gian nghỉ</th>
							<th class="text-center">Lí do</th>
							<th class="text-center">Trạng thái</th>
						</tr>
					</thead>
					<tbody class="text-center" style="cursor: pointer;">
					</tbody>
				</table>
			</div>
				
			<button type="button" class="btn btn-primary" id="btnApprove" >Chấp nhận</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary" style="width:76px;" id="btnDeny">Từ chối</button><br></br>
			
			<div class="modal fade" id="modalDetails" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h3 class="modal-title">Chi tiết</h3>
							<div id="modalDetailsMessage" class="alert" style="display:none;"></div>
						</div>
						
						<div class="modal-body">
							<form class="form-horizontal" id="formModal">
								<label class="col-md-3 control-label">Nhân viên:</label>
								<div class="col-md-9">
									<input id="nameDetails" class="form-control" readonly="readonly"></input>
								</div>
			
								<label class="col-md-3 control-label">Vị trí:</label>
								<div class="col-md-9">
									<input id="positionDetails" class="form-control" readonly="readonly"></input>
								</div>
			
								<label class="col-md-3 control-label">Team:</label>
								<div class="col-md-9">
									<input id="teamDetails" class="form-control" readonly="readonly"></input>
								</div>
			
								<label class="col-md-3 control-label">Department:</label>
								<div class="col-md-9">
									<input id="departmentDetails" class="form-control" readonly="readonly"></input>
								</div>
			
								<label class="col-md-3 control-label">Người nhận:</label>
								<div class="col-md-9">
									<input id="recipientDetails" class="form-control" readonly="readonly"></input>
								</div>
								
								<label class="col-md-3 control-label">Từ:</label>
								<div class="col-md-9">
									<input id="fromTimeDetails" class="form-control" readonly="readonly"></input>
								</div>
								
								<label class="col-md-3 control-label">Đến:</label>
								<div class="col-md-9">
									<input id="toTimeDetails" class="form-control" readonly="readonly"></input>
								</div>
								
								<label class="col-md-3 control-label">Tổng thời gian :</label>
								<div class="col-md-9">
									<input id="totalTimeDetails" class="form-control" readonly="readonly"></input>
								</div>
			
								<label class="col-md-3 control-label">Lí do:</label>
								<div class="col-md-9">
									<input id="reasonDetails" class="form-control" readonly="readonly"></input>
								</div>
								
								<label class="col-md-3 control-label">Trạng thái:</label>
								<div class="col-md-9">
									<input id="statusDetails" class="form-control" readonly="readonly"></input>
								</div>
			
								<label class="col-md-3 control-label">Loại ngày nghỉ:</label>
								<div class="col-md-9">
									<input id="dayOffTypeDetails" class="form-control" readonly="readonly"></input>
								</div>
			
								<label class="col-md-3 control-label">Tin nhắn phản hồi:</label>
								<div class="col-md-9">
									<textarea id="responseMessage"
										placeholder="Viết tin nhắn..."
										style="height: 100px; width: 100%;">
									</textarea>
								</div>&nbsp;
								
								<p align="center">
									<button type="button" class="btn btn-default" id="btnApproveModal">Chấp nhận</button>
									<button type="button" class="btn btn-default" style="width:76px;" id="btnDenyModal">Từ chối</button>
									<button type="button" class="btn btn-default" style="width:76px;" id="btnSendModal">Gửi</button>
									<button type="button" class="btn btn-default" style="width:76px;" data-dismiss="modal">Hủy</button>
								</p>
			
								<label> Chuyển request đến : <select name="forward" id="forward" value=""></select>
								</label>
								
								<button type="button" class="btn btn-default btn-sm" id="btnForward">
									<span class="glyphicon glyphicon-share-alt"></span> Chuyển
								</button>
								
							</form>
						</div>
					</div>
				</div>
			</div>

		<div class="modal fade" id="confirmModal" role="dialog">
			<div class="modal-dialog">

				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h2 class="modal-title">Xác nhận</h2>
					</div>
					<div class="modal-body">
						<h4 id="confirmMsg"></h4>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal" id="btnYes">Có</button>
						<button type="button" class="btn btn-default" data-dismiss="modal" id="btnNo">Không</button>
					</div>
				</div>

			</div>
		</div>
		
		<div class="modal fade" id="alertModal" role="dialog">
			<div class="modal-dialog">

				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h2 class="modal-title"><span class="glyphicon glyphicon-alert"></span> Cảnh báo</h2>
					</div>
					<div class="modal-body">
						<h4 id="alertMsg"></h4>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-warning" data-dismiss="modal" id="btnConfirm">Đã hiểu</button>
					</div>
				</div>

			</div>
		</div>
		
	</div>
	<div th:replace="fragments/footer"></div>
</body>
</html>