<!DOCTYPE html>
<html>
	<head>
		<title>Lịch sử request</title>
		<meta charset="UTF-8"/>
		<div th:replace="library"></div>
		<link rel="stylesheet" type="text/css" href="css/requestHistoryStyle.css" />
	</head>
	<body class="content-body">
		<script th:inline="javascript">
		/*<![CDATA[*/
			$(function() {
				var employee;
				var employeeId;
				var listRecipient = [];
				var table;
				var deleteRequestId = {
					'id' : '',
					'updateDate' : ''
				};
				var deleteRequestIds = [];
				
				var requestRegistRequest = {
					"id" : "",
					"from_time" : "",
					"to_time" : "",
					"total_time" : "",
					"reason" : "",
					"status" : "",
					"response_message" : "",
					"day_off_type_id" : "",
					"recipient_id" : "",
					"update_date" : ""
				};
				var deleteFlag = 0;	//0 -> update, 1 -> delete one request, 2 -> delete multiple requests
				var rowData;
				
				renderDayOffTypeSelect('modalDayOffType');
				
				getLoggedUser(function(returnData){
					employee = returnData.user;
					employeeId = employee.id;
					listRecipient = returnData.listRecipients;
					
					renderRemainHours(returnData.displayedRemainHours, 'remainHours');
					renderRecipientSelect(listRecipient, 'modalRecipient');
					
					//set default value for searching request
					var date = new Date();
					var from = "01/01/" + date.getFullYear();
					$("#fromTimeId").val(from);
					
					var requestSearchRequest = getRequestSearchRequest();
					console.log(requestSearchRequest);
					search(requestSearchRequest);
					if(employee.position.code == 2 || returnData.leaderFlag == 1){
						renderNumberOfRequest(employee.id);
					}
				});
				
				$('.datepicker').on('changeDate', function(ev){
					$(this).datepicker('hide');
				});
				
				$('#requestHistoryTable tbody').on('click', 'td', function() {
					$('#alertMessage_edit').hide();
					
					var index = $(this).index();
					if(index >= 1 && index <= 9) {
						table = $('#requestHistoryTable').DataTable();
						rowData = table.row(this).data();
						console.log(rowData);
						if(index <= 8 || (index == 9 && rowData.status == 1) || (index == 9 && rowData.status == 4)) {
							$("#modalRequestId").empty().append(rowData.id);
							$("#modalStatus").empty().append(requestStatus[rowData.status]);
							$("#modalTitle").empty().append(rowData.employee.name);
							$("#modalName").empty().append(rowData.employee.name);
							$("#modalPosition").empty().append(rowData.employee.position.name);
							$("#modalTeam").empty().append(employee.teamName);
							$("#modalDepartment").empty().append(employee.departmentName);
							
							var fromStr = rowData.fromTime.split(" ");
							var fromDateStr = fromStr[0].split("-");
							$("#modalFrom").val(fromDateStr[1] + "/" + fromDateStr[2] + "/" + fromDateStr[0]);
							var fromTimeStr = fromStr[1].split(":");
							$("#modalHourFrom").val(fromTimeStr[0]);
							$("#modalMinuteFrom").val(fromTimeStr[1]);
							var toStr = rowData.toTime.split(" ");
							var toDateStr = toStr[0].split("-");
							$("#modalTo").val(toDateStr[1] + "/" + toDateStr[2] + "/" + toDateStr[0]);
							var toTimeStr = toStr[1].split(":");
							$("#modalHourTo").val(toTimeStr[0]);
							$("#modalMinuteTo").val(toTimeStr[1]);
							var days = parseInt(rowData.totalTime / 8);
							var hours = rowData.totalTime - (days * 8);
							$("#modalOffDays").val(days);
							$("#modalOffHours").val(hours);
							$("#modalReason").val(rowData.reason);
							$("#modalDayOffType").val(rowData.dayOffType.id);
							
							//display recipient
							var check = 0;
							$("#modalRecipient option").each(function(i){
								if($(this).val().localeCompare(rowData.recipientId) == 0) {
									check = 1;
								}
							});
							if(check == 0) { //recipient is old manager or old leader
								console.log(rowData.status + "----");
								if(parseInt(rowData.status) != 1 && parseInt(rowData.status) != 4) {
									console.log(rowData.status + "----");
									$("#modalRecipientDiv").hide();
									$("#hiddenRecipientName").html(rowData.recipientName);
									$("#hiddenRecipientDiv").show();
								}
								else {
									$('#alertMessage_edit').html(rowData.recipientName + " - người nhận của request này hiện không còn là leader/manager của bạn. "
																	+ "Vui lòng chọn một người nhận khác").attr('class', 'alert alert-warning').show();
									$("#hiddenRecipientDiv").hide();
									$("#modalRecipientDiv").show();
								}
							} else {
								$("#hiddenRecipientDiv").hide();
								$("#modalRecipient").val(rowData.recipientId);
								$("#modalRecipientDiv").show();
							}
							
							$("#modalResponseMessage").val(rowData.responseMessage);
							$("#modalUpdateDate").val(rowData.updateDate);
							$("#modalTotalTime").val(rowData.totalTime);
						
							if(rowData.status == "1" || rowData.status == "4") {
								$("#modalForm :input").prop('disabled', false);
								$("#btnSave_modal, #btnSend_modal").show();
							} else {
								$("#modalForm :input").prop('disabled', true);
								$("#btnSave_modal, #btnSend_modal").hide();
							}
							$('#requestDetailsModal').modal('show');
						}
					}
				} );
				
				$('#btnSearch').on('click', function() {
					var requestSearchRequest = getRequestSearchRequest();
					console.log(requestSearchRequest);
					search(requestSearchRequest);
				});
				
				//prevent select box from opening when pressing enter after selecting
				$("#requestHistoryForm select").keydown(function(e){
					if(e.keyCode == 13) {
						this.blur();
					}
				});
				
				//search when pressing enter
				$(document).keypress(function(e) {
					if(e.which == 13) {
						var requestSearchRequest = getRequestSearchRequest();
						console.log(requestSearchRequest);
						search(requestSearchRequest);
					}
				});
				
				$('#btnClear').on('click', function() {
					$("#requestHistoryForm input, #requestHistoryForm select").each(function(){
						$(this).val("");
					});
					var from = "01/01/" + (new Date()).getFullYear();
					$("#fromTimeId").val(from);
				});
				
				$("body").on("click", ".btnDelete", function(event) {
					rowData = $('#requestHistoryTable').DataTable().row($(this).parent()).data();
					
					deleteRequestId.id = rowData.id;
					deleteRequestId.updateDate = rowData.updateDate;
					
					$("#confirmTitle").html("Xác nhận xóa");
					$("#confirmMessage").html("Bạn có chắc chắn muốn xóa request này?");
					$("#yesConfirm, #noConfirm").show();
					$("#okConfirm").hide();
					$("#confirmModal").modal('show');
					deleteFlag = 1;
				});
				
				$("#yesConfirm").on("click", function(e) {
					if(deleteFlag == 1) {	//delete one request
						deleteRequest(deleteRequestId);
					} else if(deleteFlag == 2) {	//delete multiple requests
						deleteRequest(deleteRequestIds);
					} else {
						requestRegistRequest.status = "5";
						registRequest(requestRegistRequest);
					}
				});
				
				$('#btnSave_modal, #btnSend_modal').on('click', function() {
					var editRequestData = $('#modalForm').serializeJSON();
					
					//validate
					var complete = 1, valid = 1, exceedLength = 0, offHoursEqual0 = 0, isNotNagativeInteger = 1;
					var listInput = $("#modalForm").find(':input').not("#modalResponseMessage, #modalOffDays");
					$.each(listInput, function() {
						if($(this).val() == "" || $(this).val() === undefined || $(this).val() === null) {
							complete = 0;
						}
					});
					
					if(editRequestData.offDays == "" || editRequestData.offDays === undefined || editRequestData.offDays === null) {
						editRequestData.offDays = 0;
					} else {
						if(isNaN(editRequestData.offDays) == true || (parseFloat(editRequestData.offDays) % 1) !== 0
								|| parseFloat(editRequestData.offDays) < 0) {
							isNotNagativeInteger = 0;
						}
					}
					
					var offHours = parseInt(editRequestData.offDays) * 8 + parseFloat(editRequestData.offHours);
					var oldOffHours = parseFloat(editRequestData.totalTime_modalForm);
					console.log("old: " + oldOffHours);
					if((editRequestData.reason_modalForm).length > 300) {
						exceedLength = 1;
					}
					if(offHours <= 0){
						offHoursEqual0 = 1;
					}
					
					var fromDate = editRequestData.from_modalForm;
					fromDate = fromDate.substr(6, 4) + "-" + fromDate.substr(0, 2) + "-" + fromDate.substr(3, 2);
					var fromTime = editRequestData.hourFrom_modalForm + ":" + editRequestData.minuteFrom_modalForm + ":00.0";
					var from = fromDate + " " + fromTime;
					var toDate = editRequestData.to_modalForm;
					toDate = toDate.substr(6, 4) + "-" + toDate.substr(0, 2) + "-" + toDate.substr(3, 2);
					var toTime = editRequestData.hourTo_modalForm + ":" + editRequestData.minuteTo_modalForm + ":00.0";
					var to = toDate + " " + toTime;
					if(from.localeCompare(to) >= 0) {
						valid = 0;
					}
					//end validate
					
					if(complete == 0) {
						$('#alertMessage_edit').html(errors['incompleteFields']).attr('class', 'alert alert-danger').show();
					}
					else if(exceedLength == 1) {
						$('#alertMessage_edit').html(errors['stringExceedLimit']).attr('class', 'alert alert-danger').show();
					}
					else if(valid == 0) {
						$('#alertMessage_edit').html(errors['DateError']).attr('class', 'alert alert-danger').show();
					}
					else if(isNotNagativeInteger == 0) {
						$('#alertMessage_edit').html("Số ngày nghỉ phải là số nguyên không âm").attr('class', 'alert alert-danger').show();
					}
					else if(offHoursEqual0 == 1) {
						$('#alertMessage_edit').html(errors['offHoursEqual0']).attr('class', 'alert alert-danger').show();
					}
					else {
						//update request
						var requestId = $("#modalRequestId").html();
						requestRegistRequest.id = requestId;
						requestRegistRequest.from_time = from;
						requestRegistRequest.to_time = to;
						requestRegistRequest.total_time = offHours;
						requestRegistRequest.reason = editRequestData.reason_modalForm;
						requestRegistRequest.response_message = editRequestData.responseMessage_modalForm;
						requestRegistRequest.day_off_type_id = editRequestData.dayOffType_modalForm;
						requestRegistRequest.recipient_id = editRequestData.recipient_modalForm;
						requestRegistRequest.update_date = editRequestData.updateDate_modalForm;
						
						if($(this).attr('id') == 'btnSave_modal') {
							requestRegistRequest.status = "1";
							registRequest(requestRegistRequest);
						} else {
							$("#confirmTitle").html("Xác nhận gửi");
							$("#confirmMessage").html("Bạn có chắc chắn muốn gửi request này?");
							$("#yesConfirm, #noConfirm").show();
							$("#okConfirm").hide();
							$("#confirmModal").modal('show');
							deleteFlag = 0;
						}
					}
				});
				
				$("body").on("click", ".btnSelect", function(event) {
					rowData = $('#requestHistoryTable').DataTable().row($(this).parent()).data();
					if($(this).is(":checked")) {
						deleteRequestIds.push({
							'id' : rowData.id,
							'updateDate' : rowData.updateDate
						});
					} else {
						var index = findObjById(deleteRequestIds, rowData.id);
						if(index >= 0) {
							deleteRequestIds.splice(index, 1);
						}
					}
					console.log(deleteRequestIds);
				});
				
				$('#btnMultipleDelete').on('click', function() {
					if(deleteRequestIds.length == 0) {
						$("#confirmTitle").html("Thông báo");
						$("#confirmMessage").html("Bạn phải chọn ít nhất 1 request để xóa");
						$("#yesConfirm, #noConfirm").hide();
						$("#okConfirm").show();
					} else {
						$("#confirmTitle").html("Xác nhận xóa");
						$("#confirmMessage").html("Bạn có chắc chắn muốn xóa tất cả những request này?");
						$("#yesConfirm, #noConfirm").show();
						$("#okConfirm").hide();
					}
					$("#confirmModal").modal('show');
					deleteFlag = 2;
				});
				
				function getRequestSearchRequest() {
					var searchData = $('#requestHistoryForm').serializeJSON();
					var from = searchData.fromTime;
					var to = searchData.toTime;
					if(from != "") {
						from = from.substr(6, 4) + "-" + from.substr(0, 2) + "-" + from.substr(3, 2);
					}
					if(to != "") {
						to = to.substr(6, 4) + "-" + to.substr(0, 2) + "-" + to.substr(3, 2);
					}
					
					var requestSearchRequest = {
						"employee_id" : employeeId,
						"from_time" : from,
						"to_time" : to,
						"status" : searchData.requestType,
						"valid_flag" : "1"
					};
					return requestSearchRequest;
				}
				
				function search(requestSearchRequest) {
					$('#alertMessage_search').hide();
					$('#requestHistoryTable').DataTable({
						ajax: {
							type : "POST",
							contentType : "application/json",
							url : /*[[@{/request/search}]]*/,
							dataType : 'json',
							data : function() {
								return JSON.stringify(requestSearchRequest);
							},
							dataSrc: 'requests'
						},
						destroy: true,
						searching: false,
						order: [[ 1, "desc" ]],
						pageLength: 50,
						columnDefs: [
							{
								"targets": [ 0 ],
								"orderable": false,
								"className": "text-center",
								"data": null,
								"render": function(data, type, row) {
									if(row.status == 1 || row.status == 4) {
										var index = findObjById(deleteRequestIds, row.id);
										if(index >= 0) {
											return "<input class='btnSelect' type='checkbox' name='selectRequest' value='" + row.id + "' checked='true' />";
										} else {
											return "<input class='btnSelect' type='checkbox' name='selectRequest' value='" + row.id + "' />";
										}
									}
									else {
										return "<input class='not-active btnSelect' style='opacity: 0.5;' type='checkbox' name='selectRequest' value='" + row.id + "' />";
									}
								}
							},
							{
								"className": 'hideColumn',
								"targets": [ 1 ],
								"data": 'id'
							},
							{
								"targets": [ 2 ],
								"data": 'insertDate',
								"render": function(data, type, full, meta) {
									return data.substr(0, data.length - 2);
								}
							},
							{
								"targets": [ 3 ],
								"data": 'fromTime',
								"render": function(data, type, full, meta) {
									return data.substr(0, data.length - 5);
								}
							},
							{
								"targets": [ 4 ],
								"data": 'toTime',
								"render": function(data, type, full, meta) {
									return data.substr(0, data.length - 5);
								}
							},
							{
								"targets": [ 5 ],
								"data": 'totalTime',
								"render": function(data, type, full, meta) {
									var offDays = parseInt(parseFloat(data) / 8);
									var offHours = parseFloat(data) - (offDays * 8);
									return offDays + "d " + offHours + "h";
								}
							},
							{
								"targets": [ 6 ],
								"data": 'dayOffType',
								"render": function(data, type, full, meta) {
									if(data.paymentFlag == 1) {
										return "có lương";
									} else {
										return "không lương";
									}
								}
							},
							{
								"targets": [ 7 ],
								"data": 'reason'
							},
							{
								"targets": [ 8 ],
								"data": 'status',
								"render": function(data, type, full, meta) {
									return requestStatus[data];
								}
							},
							{
								"targets": [ 9 ],
								"className": "text-center",
								"data": null,
								"render": function(data, type, row) {
									if(row.status == 1 || row.status == 4) {
										return "<a><span class='glyphicon glyphicon-pencil' style='cursor: pointer;'></span></a>";
									}
									else {
										return "<a class='not-active'><span class='glyphicon glyphicon-pencil' style='opacity: 0.5;'></span></a>";
									}
								}
							},
							{
								"targets": [ 10 ],
								"className": "text-center",
								"data": null,
								"render": function(data, type, row) {
									if(row.status == 1 || row.status == 4) {
										return "<a class='btnDelete'><span class='glyphicon glyphicon-trash' style='cursor: pointer;'></span></a>";
									}
									else {
										return "<a class='btnDelete not-active'><span class='glyphicon glyphicon-trash' style='opacity: 0.5;'></span></a>";
									}
								}
							}
						]
					});
				}
				
				function registRequest(registData) {
					var notifyStr;
					if(registData.status == 1) {
						notifyStr = "Request của bạn đã được lưu";
					} else {
						notifyStr = "Request của bạn đã được gửi";
					}
					
					console.log(registData);
					$.ajax({
						type : "POST",
						contentType : "application/json",
						url : /*[[@{/request/regist}]]*/,
						dataType : 'json',
						data : JSON.stringify(registData),
						success : function(returnData) {
							if(returnData.status_info.status == 1) {
								$('#alertMessage_edit').html(returnData.status_info.error).attr('class', 'alert alert-danger').show();
							} else {
								table = $('#requestHistoryTable').DataTable();
								table.ajax.reload();
								getLoggedUser(function(returnData){
									if(returnData.status_info.status == 1) {
										$('#alertMessage_search').html(returnData.status_info.error).attr('class', 'alert alert-danger').show();
									} else {
										renderRemainHours(returnData.displayedRemainHours, 'remainHours');
									}
								});
								
								$('#requestDetailsModal').modal('hide');
								$('#alertMessage_search').html(notifyStr).attr('class', 'alert alert-success').show();
							}
						},
						error : function(e) {
							$('#alertMessage_search').html(errors['APIResponseError'](e)).attr('class', 'alert alert-danger').show();
						}
					});
				}
				
				function deleteRequest(ids) {
					if (ids instanceof Array){
						$('#alertMessage_search').empty();
						var success = 1;
						$.each(deleteRequestIds, function(index, element) {
							$.ajax({
								type : "POST",
								contentType : "application/json",
								url : /*[[@{/request/regist}]]*/,
								dataType : 'json',
								data : JSON.stringify({
									"id" : element.id,
									"valid_flag" : "0",
									"update_date" : element.updateDate
								}),
								success : function(returnData) {
									if(returnData.status_info.status == 1) {
										$('#alertMessage_search').append('<br/>' + returnData.status_info.error).attr('class', 'alert alert-danger').show();
										success = 0;
									} else {
										//remove id of deleted request
										var index = findObjById(deleteRequestIds, element.id);
										if(index >= 0) {
											deleteRequestIds.splice(index, 1);
										}
										console.log(deleteRequestIds);
										
										if(deleteRequestIds.length == 0) {
											table = $('#requestHistoryTable').DataTable();
											table.ajax.reload();
											getLoggedUser(function(returnData){
												if(returnData.status_info.status == 1) {
													$('#alertMessage_search').html(returnData.status_info.error).attr('class', 'alert alert-danger').show();
												} else {
													renderRemainHours(returnData.displayedRemainHours, 'remainHours');
												}
											});
											if(success == 1) {
												$('#alertMessage_search').html("Delete successfully!").attr('class', 'alert alert-success').show();
											}
										}
									}
								},
								error : function(e) {
									$('#alertMessage_search').html(errors['APIResponseError'](e)).attr('class', 'alert alert-danger').show();
								}
							});
						});
					} else {
						$.ajax({
							type : "POST",
							contentType : "application/json",
							url : /*[[@{/request/regist}]]*/,
							dataType : 'json',
							data : JSON.stringify({
								"id" : ids.id,
								"valid_flag" : "0",
								"update_date" : ids.updateDate
							}),
							success : function(returnData) {
								if(returnData.status_info.status == 1) {
									$('#alertMessage_search').html(returnData.status_info.error).attr('class', 'alert alert-danger').show();
								} else {
									table = $('#requestHistoryTable').DataTable();
									table.ajax.reload();
									getLoggedUser(function(returnData){
										if(returnData.status_info.status == 1) {
											$('#alertMessage_search').html(returnData.status_info.error).attr('class', 'alert alert-danger').show();
										} else {
											renderRemainHours(returnData.displayedRemainHours, 'remainHours');
										}
									});
									$('#alertMessage_search').html("Delete successfully!").attr('class', 'alert alert-success').show();
									
									//remove id of deleted request
									var index = findObjById(deleteRequestIds, ids.id);
									if(index >= 0) {
										deleteRequestIds.splice(index, 1);
									}
									console.log(deleteRequestIds);
								}
							},
							error : function(e) {
								$('#alertMessage_search').html(errors['APIResponseError'](e)).attr('class', 'alert alert-danger').show();
							}
						});
					}
				}
				
				function findObjById(objectArr, objectId) {
					var returnIndex = -1;
					$.each(objectArr, function(index, element) {
						if(element.id == objectId) {
							returnIndex = index;
						}
					});
					return returnIndex;
				}
			});
		
		/*]]>*/
		</script>
		
		<div>
			<div th:replace="fragments/header"></div>
			<div th:replace="menu"></div>
			
			<div class="requestOffContentBody">
				<h2>Lịch sử request</h2>
				<br/>
				<div>
					<div id="alertMessage_search" class="alert" style="display:none;"></div>
					<h4>Bạn còn <span id="remainHours" style="font-weight: bold;"></span> nghỉ phép</h4>
					<fieldset class="filter-fieldset">
						<legend>
							<a href="javascript:void(0);" data-toggle="collapse" data-target=".filter-collapse" class=""><i class="filter-toggle-icon glyphicon glyphicon-triangle-right"></i> Khung tìm kiếm</a>
						</legend>
						<div class="filter-collapse collapse">
							<form class="form-input" id="requestHistoryForm">
								<div class="form-group">
									<label for="fromTime">Từ</label>
									<div class="input-group date datepicker mydatepicker" data-provide="datepicker">
										<input type="text" class="form-control" name="fromTime" id="fromTimeId" />
										<div class="input-group-addon">
											<span class="glyphicon glyphicon-th"></span>
										</div>
									</div>
								</div>
			
								<div class="form-group">
									<label for="toTime">Đến</label>
									<div class="input-group date datepicker mydatepicker" data-provide="datepicker">
										<input type="text" class="form-control" name="toTime" id="toTimeId" />
										<div class="input-group-addon">
											<span class="glyphicon glyphicon-th"></span>
										</div>
									</div>
								</div>
			
								<div class="form-group">
									<label for="requestType">Loại request</label>
									<select class="form-control" name="requestType" id="requestTypeId">
										<option value=""></option>
										<option value="1">Đã lưu</option>
										<option value="2">Đã duyệt</option>
										<option value="3">Đã từ chối</option>
										<option value="4">Đã phản hồi</option>
										<option value="5">Đang chờ</option>
									</select>
								</div>
			
								<br/>
								<div>
									<button type="button" class="btn btn-primary" id="btnSearch">Tìm kiếm</button>&nbsp;&nbsp;
									<button type="button" class="btn btn-primary" id="btnClear">Làm mới</button>
								</div>
							</form>
						</div>
					</fieldset>
					
					<br/>
					<table class="display table table-bordered table-striped table-hover" cellspacing="0" width="100%" id="requestHistoryTable">
						<thead>
							<tr>
								<th class="text-center selectCell" ></th>
								<th class="text-center idCell hideColumn">ID</th>
								<th class="text-center timeOfCreationCell">Ngày tạo</th>
								<th class="text-center fromCell">Từ</th>
								<th class="text-center toCell">Đến</th>
								<th class="text-center offHoursCell">Thời gian nghỉ</th>
								<th class="text-center dayOffTypeCell">Loại ngày nghỉ</th>
								<th class="text-center reasonCell">Lý do</th>
								<th class="text-center statusCell">Trạng thái</th>
								<th class="text-center editCell">Sửa</th>
								<th class="text-center deleteCell">Xóa</th>
							</tr>
						</thead>
						
						<tbody>
	
						</tbody>
					</table>
					
					<div>
						<button type="button" class="btn btn-primary" id="btnMultipleDelete">Xóa</button>
					</div>
					
					<div class="modal fade" id="requestDetailsModal" role="dialog">
						<div class="modal-dialog modal-dialog-centered">
							
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title" id="modalTitle"></h4>
								</div>
								<div class="modal-body">
									<div id="alertMessage_edit" class="alert" style="display:none;"></div>
									<form id="modalForm">
										<div class="form-group row" style="display: none;">
											<label class="control-label col-sm-3">ID </label>
											<label class="control-label col-sm-9" style="text-align: left;" id="modalRequestId"></label>
										</div>
										<div class="form-group row">
											<label class="control-label col-sm-3">Trạng thái </label>
											<label class="control-label col-sm-9" id="modalStatus"></label>
										</div>
										<div class="form-group row">
											<label class="control-label col-sm-3">Nhân viên </label>
											<label class="control-label col-sm-9" style="text-align: left;" id="modalName"></label>
										</div>
										<div class="form-group row">
											<label class="control-label col-sm-3">Vị trí </label>
											<label class="control-label col-sm-9" id="modalPosition"></label>
										</div>
										<div class="form-group row">
											<label class="control-label col-sm-3">Team </label>
											<label class="control-label col-sm-9" id="modalTeam"></label>
										</div>
										<div class="form-group row">
											<label class="control-label col-sm-3">Department </label>
											<label class="control-label col-sm-9" id="modalDepartment"></label>
										</div>
										<div class="form-group row">
											<label class="control-label col-sm-3">Thời gian nghỉ * : </label>
											<div class="form-inline">
												<input type="text" class="form-control only-number" maxlength="2" name="offDays" id="modalOffDays" style="width:100px;"/>&nbsp;ngày&nbsp;
												<select class="form-control" name="offHours" id="modalOffHours" style="width:100px;">
													<option value="0">0</option>
													<option value="0.5">0.5</option>
													<option value="1">1</option>
													<option value="1.5">1.5</option>
													<option value="2">2</option>
													<option value="2.5">2.5</option>
													<option value="3">3</option>
													<option value="3.5">3.5</option>
													<option value="4">4</option>
													<option value="4.5">4.5</option>
													<option value="5">5</option>
													<option value="5.5">5.5</option>
													<option value="6">6</option>
													<option value="6.5">6.5</option>
													<option value="7">7</option>
													<option value="7.5">7.5</option>
												</select>&nbsp;giờ
											</div>
										</div>
										<div class="form-group row">
											<label class="control-label col-sm-3">Từ * </label>
											<div class="col-sm-5" style="padding-left:0px;">
												<div class="input-group date datepicker mydatepicker" data-provide="datepicker">
													<input type="text" class="form-control" name="from_modalForm" id="modalFrom"/>
													<div class="input-group-addon">
														<span class="glyphicon glyphicon-th"></span>
													</div>
												</div>
											</div>
											<div class="col-sm-2">
												<select class="form-control" name="hourFrom_modalForm" id="modalHourFrom">
													<option value="08">8</option>
													<option value="09">9</option>
													<option value="10">10</option>
													<option value="11">11</option>
													<option value="12">12</option>
													<option value="13">13</option>
													<option value="14">14</option>
													<option value="15">15</option>
													<option value="16">16</option>
													<option value="17">17</option>
												</select>
											</div>
											<div class="col-sm-2">
												<select class="form-control" name="minuteFrom_modalForm" id="modalMinuteFrom">
													<option value="00">00</option>
													<option value="05">05</option>
													<option value="10">10</option>
													<option value="15">15</option>
													<option value="20">20</option>
													<option value="25">25</option>
													<option value="30">30</option>
													<option value="35">35</option>
													<option value="40">40</option>
													<option value="45">45</option>
													<option value="50">50</option>
													<option value="55">55</option>
												</select>
											</div>
										</div>
										<div class="form-group row">
											<label class="control-label col-sm-3">Đến * </label>
											<div class="col-sm-5" style="padding-left:0px;">
												<div class="input-group date datepicker mydatepicker" data-provide="datepicker">
													<input type="text" class="form-control" name="to_modalForm" id="modalTo"/>
													<div class="input-group-addon">
														<span class="glyphicon glyphicon-th"></span>
													</div>
												</div>
											</div>
											<div class="col-sm-2">
												<select class="form-control" name="hourTo_modalForm" id="modalHourTo">
													<option value="08">8</option>
													<option value="09">9</option>
													<option value="10">10</option>
													<option value="11">11</option>
													<option value="12">12</option>
													<option value="13">13</option>
													<option value="14">14</option>
													<option value="15">15</option>
													<option value="16">16</option>
													<option value="17">17</option>
												</select>
											</div>
											<div class="col-sm-2">
												<select class="form-control" name="minuteTo_modalForm" id="modalMinuteTo">
													<option value="00">00</option>
													<option value="05">05</option>
													<option value="10">10</option>
													<option value="15">15</option>
													<option value="20">20</option>
													<option value="25">25</option>
													<option value="30">30</option>
													<option value="35">35</option>
													<option value="40">40</option>
													<option value="45">45</option>
													<option value="50">50</option>
													<option value="55">55</option>
												</select>
											</div>
										</div>
										<div class="form-group row">
											<label class="control-label col-sm-3">Lý do * </label>
											<div class="input-group col-sm-9" style="padding-right:15px;">
												<textarea class="form-control col-sm-9" name="reason_modalForm" id="modalReason"></textarea>
											</div>
										</div>
										<div class="form-group row">
											<label class="control-label col-sm-3">Loại ngày nghỉ * </label>
											<div class="input-group col-sm-9" style="padding-right:15px;">
												<select class="form-control" name="dayOffType_modalForm" id="modalDayOffType">
												</select>
											</div>
										</div>
										<div class="form-group row" id="modalRecipientDiv">
											<label class="control-label col-sm-3">Người nhận * </label>
											<div class="input-group col-sm-9" style="padding-right:15px;">
												<select class="form-control" name="recipient_modalForm" id="modalRecipient">
												</select>
											</div>
										</div>
										<div class="form-group row" style="display: none;" id="hiddenRecipientDiv">
											<label class="control-label col-sm-3">Người nhận </label>
											<label class="control-label col-sm-9" style="text-align: left;" id="hiddenRecipientName"></label>
										</div>
										<div class="form-group row">
											<label class="control-label col-sm-3">Phản hồi </label>
											<div class="input-group col-sm-9" style="padding-right:15px;">
												<textarea readonly="true" class="form-control" name="responseMessage_modalForm" id="modalResponseMessage"></textarea>
											</div>
										</div>
										<input type="hidden" name="updateDate_modalForm" id="modalUpdateDate" />
										<input type="hidden" name="totalTime_modalForm" id="modalTotalTime" />
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" id="btnSave_modal">Lưu nháp</button>
									<button type="button" class="btn btn-default" id="btnSend_modal">Lưu &amp; Gửi</button>
									<button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancel_modal">Đóng</button>
								</div>
							</div>
						</div>
					</div>
					
					<div id="confirmModal" class="modal fade" role="dialog">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title" id="confirmTitle"></h4>
								</div>
								<div class="modal-body">
									<p id="confirmMessage"></p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal" id="yesConfirm">Có</button>
									<button type="button" class="btn btn-default" data-dismiss="modal" id="noConfirm">Không</button>
									<button type="button" class="btn btn-default" data-dismiss="modal" id="okConfirm" style="display: none;">OK</button>
								</div>
								<input type="hidden" name="requestId_confirmModal" id="requestId_confirmModalId" />
								<input type="hidden" name="updateDate_confirmModal" id="updateDate_confirmModalId" />
							</div>
						</div>
					</div>
					
				</div>
			</div>
			<div th:replace="fragments/footer"></div>
		</div>

	</body>
</html>