<!DOCTYPE html>
<html>
	<head>
		<title>Thống kê</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="css/createRequestStyle.css" />
		<div th:replace="library"></div>
	</head>

<script th:inline="javascript">
//<![CDATA[ 
	$(function() {
		//=====================================================================
		// # Initialize form
		//=====================================================================
		var listDepartment; // for combobox display purpose
		var listTeam;
		
		var editEmployee; // for editing remain hours of employee purpose
		var searchParam;
		
		getLoggedUser(function(returnData){
			if(returnData.user.position.code == 2 || returnData.leaderFlag == 1){
				renderNumberOfRequest(returnData.user.id);
			}
		});
		
		//Department combobox
		renderDepartmentSelect("department", function(departments) {
			listDepartment = departments;
		});
		
		//Team combobox
		renderTeamSelect("team", function(teams) {
			listTeam = teams;
		});
		
		//Employee text field type ahead
		$('#employee').typeahead({
			name: 'suggest-employee',
			limit: 100,
			hint: false,
			remote: {
				rateLimitWait: 1000,
				url: '/employee/search',
				replace: function (url, uriEncodedQuery){
					return url + "#" + uriEncodedQuery;
				},
				beforeSend: function (jqXhr, settings) {
					jqXhr.setRequestHeader('Content-Type','application/json');
					settings.type = 'POST';
					settings.hasContent = true;
					settings.data = JSON.stringify({"name": $('#employee').val(), "name_match_status": "0"});
				},
				filter: function (data) {
					var result = data.employees;
					var sourceArr = [];
					$.each(result, function(index, object) {
						sourceArr.push(object.name);
					});
					return sourceArr;
				}
			}
		}).bind('typeahead:selected', function(obj, selected, name) {
			$(this).typeahead('setQuery', $("<div/>").html(selected.value).text());
			return false;
		});
		
		// change team combobox when department combobox is changed
		$('#department').on('change', function() {
			if ($(this).val() != '') {
				var id = $(this).val();
				var teams = $.grep(listTeam, function(team) { // find team in department
					return team.department.id == id;
				});
				$('#team').empty().append('<option value=""></option>');
				$.each(teams, function(index, team) {
					$('#team').append('<option value="' + team.id + '">' + team.name + '</option>');
				});
			} else {
				$('#team').empty().append('<option value=""></option>');
				$.each(listTeam, function(index, team) {
					$('#team').append('<option value="' + team.id + '">' + team.name + '</option>');
				});
			}
		})
		
		// edit remain off time modal
		$('#editHours').empty();
		for (var i = 0; i < 8 ; i += 0.5) {
			$('#editHours').append('<option value="' + i + '">' + i + '</option>');
		}
		
		// year select box
		var currentYear = (new Date()).getFullYear();
		for (var i = currentYear; i >= 2010 ; i--) {
			$('#year').append('<option value="' + i + '">' + i + '</option>');
		}
		search();
		//=====================================================================
		// # Button even handler
		//=====================================================================
		function search() {
			searchParam = $('#searchForm').serializeJSON();
			$('#alertMessage').hide();
			
			$('#statisticsTable').DataTable({
				destroy: true,
				processing: true,
				serverSide: true,
				searching: false,
				pageLength: 50,
				ajax: {
					'url' : /*[[@{/employee/statisticsPaging}]]*/,
					'type': "POST",
					'data': function (data) {
						$.each(searchParam, function (field, val) {
							data[field] = val;
						});
 						return data;
					},
					'dataSrc': 'listEmployeeStatistics'
				},
				columns: [
					{ data: 'employee.id' },
					{ data: 'employee.name' },
					{
						data: 'employee.listTeam[0].department.name',
						render: function (data, type, row){
							if(typeof(row.employee.listTeam[0]) == "undefined") {
								data = row.employee.departmentName;
							}
							return data;
						}
					},
					{
						data: 'employee.listTeam[0].name',
						render: function (data, type, row){
							if(typeof(row.employee.listTeam[0]) == "undefined") {
								data = row.employee.teamName;
							}
							return data;
						}
					},
					{ data: 'employee.position.name' },
					{
						data: 'timeOffWithPaying',
						render: function (data, type, row){
							if (type == 'display' || type == 'filter') { // for display and search
								if (data == "") data = 0;
								return Math.floor(data/8) + "d " + (data % 8) + "h";
							} else { // for sort and type detection
								if (data == "") return 0;
								return data;
							}
						}
					},
					{
						data: 'timeOffWithoutPaying',
						render: function (data, type, row){
							if (type == 'display' || type == 'filter') { // for display and search
								if (data == "") data = 0;
								return Math.floor(data/8) + "d " + (data % 8) + "h";
							} else { // for sort and type detection
								if (data == "") return 0;
								return data;
							}
						}
						
					},
					{
						data: 'employee.employeeOffStatus.remainHours',
						render: function (data, type, row){
							
							if (type == 'display' || type == 'filter') { // for display and search
								if (row.employee.employeeOffStatus == null ) {
									return "No Data";
								}
								if (data == "") data = 0;
								return Math.floor(data/8) + "d " + (data % 8) + "h";
							} else { // for sort and type detection
								if (row.employee.employeeOffStatus == null) {
									data = 0;
								}
								return data;
							}
						}
					},
					{
						render: function (){
							if (searchParam.year == (new Date()).getFullYear()) {
								return '<a class="editRemainHours"><span class="glyphicon glyphicon-edit"></span></a>';
							} else {
								return '<a class="editRemainHours not-active"><span class="glyphicon glyphicon-edit" style="opacity: 0.5;" disabled="true"></span></a>';
							}
						},
						orderable: false
					}
				]
			});
		}
		
		$("#searchBtn").on('click', function() {
			search();
		});
		
		//prevent select box from opening when pressing enter after selecting
		$("#searchForm select").keydown(function(e){
			if(e.keyCode == 13) {
				this.blur();
			}
		});
		
		//search when pressing enter
		$(document).keypress(function(e) {
			if(e.which == 13) {
				search();
			}
		});
		
		$('#statisticsTable tbody').on('click', 'td', function() {
			if($(this).index() >= 8) return;
			var statisticsTable = $('#statisticsTable').DataTable();
			var statisticsObj = statisticsTable.row(this).data();
			
			$('#detailEmployee').val(statisticsObj.employee.name);
			$('#detailPosition').val(statisticsObj.employee.position.name);
			
			if(typeof(statisticsObj.employee.listTeam[0]) == "undefined") {
				$('#detailDepartment').val(statisticsObj.employee.departmentName);
				$('#detailTeam').val("");
			} else {
				$('#detailDepartment').val(statisticsObj.employee.listTeam[0].department.name);
				$('#detailTeam').val(statisticsObj.employee.listTeam[0].name);
			}
			
			var payingTime = Math.floor(statisticsObj.timeOffWithPaying/8) + "d " + (statisticsObj.timeOffWithPaying % 8) + "h";
			var notPayingTime = Math.floor(statisticsObj.timeOffWithoutPaying/8) + "d " + (statisticsObj.timeOffWithoutPaying % 8) + "h";
			$('#detailWithPaying').val(payingTime);
			$('#detailWithoutPaying').val(notPayingTime);
			
			
			var remainHours;
			if (statisticsObj.employee.employeeOffStatus == null) {
				$('#detailRemainDay').val("No Data");
			} else {
				remainHours = statisticsObj.employee.employeeOffStatus.remainHours;
				$('#detailRemainDay').val(Math.floor(remainHours/8) + "d " + (remainHours % 8) + "h");
			}
			
			
			console.log(statisticsObj.listRequestWithPaying[0]);
			$('#withPayingTable').DataTable({
				destroy: true,
				searching: false,
				info: false,
				lengthChange: false,
				paging: false,
// 				scrollY: '200px',
// 				"scrollCollapse": true,
				data: statisticsObj.listRequestWithPaying,
				columns: [
					{
						data: 'fromTime' ,
						render: function (data, type, row){
							return data.substr(0, data.length - 5);
						}
					},
					{
						data: 'toTime' ,
						render: function (data, type, row){
							return data.substr(0, data.length - 5);
						}
					},
					{
						data: 'totalTime' ,
						render: function (data, type, row){
							if (type == 'display' || type == 'filter') { // for display and search
								if (data == "") data = 0;
								return Math.floor(data/8) + "d " + (data % 8) + "h";
							} else { // for sort and type detection
								if (data == "") return 0;
								return data;
							}
						}
					}
				]
			});
			
			$('#withoutPayingTable').DataTable({
				destroy: true,
				searching: false,
				info: false,
				lengthChange: false,
				paging: false,
				data: statisticsObj.listRequestWithoutPaying,
				columns: [
					{
						data: 'fromTime' ,
						render: function (data, type, row) {
							return data.substr(0, data.length - 5);
						}
					},
					{
						data: 'toTime' ,
						render: function (data, type, row) {
							return data.substr(0, data.length - 5);
						}
					},
					{
						data: 'totalTime' ,
						render: function (data, type, row) {
							if (type == 'display' || type == 'filter') { // for display and search
								if (data == "") data = 0;
								return Math.floor(data/8) + "d " + (data % 8) + "h";
							} else { // for sort and type detection
								if (data == "") return 0;
								return data;
							}
						}
					}
				]
			});
			
			$('#detailModal').modal('show');
		});
		
		$("#statisticsTable tbody").on('click', '.editRemainHours', function() {
			if (searchParam.year != (new Date()).getFullYear()) {
				return;
			}
			var statisticsTable = $('#statisticsTable').DataTable();
			var statisticsObj = statisticsTable.row($(this).parent()).data();
			
			editEmployee = statisticsObj.employee;
			
			$('#editEmployee').val(statisticsObj.employee.name);
			
			var remainHours = statisticsObj.employee.employeeOffStatus.remainHours;
			$('#editRemainDay').val(Math.floor(remainHours/8) + "d " + (remainHours % 8) + "h");
			$('#editDays').val(Math.floor(remainHours/8));
			$('#editHours').val(remainHours % 8);
			
			$('#editMsg').hide();
			
			$('#editRemainHoursModal').modal('show');
		});
		
		$("#editOk").on('click', function() {
			var days = parseFloat($('#editDays').val());
			var hours = parseFloat($('#editHours').val());
			console.log("day " + days + " hours : " + hours);
			if (isNaN(parseInt(days)) || parseInt(days) != parseFloat(days) || parseInt(days) < 0) {
				$('#editMsg').html("Số ngày nghỉ phải là số nguyên dương").show();
			} else {
				console.log(editEmployee);
				var remainHours = days * 8 + hours;
				eOSRequest = {
					'year_id': editEmployee.employeeOffStatus.yearId,
					'employee_id': editEmployee.id,
					'remain_hours': remainHours,
					'update_date': editEmployee.employeeOffStatus.updateDate,
					"valid_flag": 1
				}
				
				$.ajax({
					url : /*[[@{/employeeOffStatus/regist}]]*/,
					type : "post",
					dataType :"json",
					contentType : "application/json",
					data : JSON.stringify(eOSRequest),
					success : function (teamSearchResponse){
						if (teamSearchResponse.status_info.status != 0) {
							$('#alertMessage').html(errors['APIResponseError'](teamSearchResponse.status_info.error)).attr('class', 'alert alert-danger').show();
						} else {
							$('#alertMessage').html("Sửa thành công").attr('class', 'alert alert-success').show();
						}
						$('#editRemainHoursModal').modal('hide');
						var statisticsTable = $('#statisticsTable').DataTable();
						statisticsTable.ajax.reload();
					},
					error : function(e) {
						$('#alertMessage').html(errors['APIResponseError'](e)).attr('class', 'alert alert-danger').show();
					}
				});
			}
		});
		
		$("#clearBtn").on('click', function() {
			$('#searchForm input, #searchForm select').val('');
			$('#team').empty().append('<option value=""></option>');
			$.each(listTeam, function(index, team) {
				$('#team').append('<option value="' + team.id + '">' + team.name + '</option>');
			});
		});
		
	});
//]]>
</script>

<body class="content-body">
	<div th:replace="fragments/header"></div>
	<div th:replace="menu"></div>
	<div class="requestOffContentBody">
		<h2>Thống kê nghỉ phép của nhân viên</h2>
		<div id="alertMessage" class="alert" style="display:none;"></div>
		<fieldset class="filter-fieldset">
			<legend>
				<a href="javascript:void(0);" data-toggle="collapse" data-target=".filter-collapse" class=""><i class="filter-toggle-icon glyphicon glyphicon-triangle-right"></i> Khung tìm kiếm</a>
			</legend>
			<div class="filter-collapse collapse">
				<form id="searchForm" class="form-input">
					<div class="form-group">
						<label>Năm</label>
						<select id="year" name="year" class="form-control"></select>
					</div>
					
					<div class="form-group">
						<label>Department</label>
						<select id="department" name="department_id" class="form-control"></select>
					</div>
					
					<div class="form-group">
						<label>Team</label>
						<select id="team" name="team_id" class="form-control"></select>
					</div>
					
					<div class="form-group">
						<label>Nhân viên</label>
						<input id="employee" name="employee" type="text" class="form-control"></input>
					</div>
					
					<div>
						<button id="searchBtn" type="button" class="btn btn-primary">Tìm kiếm</button>&nbsp;&nbsp;
						<button id="clearBtn" type="button" class="btn btn-primary">Làm mới</button>
					</div>
				</form>
			</div>
		</fieldset>
		
		<br/>
		<div class="table-responsive"> 
			<table id="statisticsTable" class="table table-striped table-bordered table-hover table-condensed text-center" style="word-wrap: break-word">
				<col width="3%"/>
					<col width="15%"/>
					<col width="10%"/>
					<col width="10%"/>
					<col width="10%"/>
					<col width="20%"/>
					<col width="20%"/>
					<col width="10%"/>
					<col width="2%"/>
				<thead>
					<tr>
						<th class="text-center">ID</th>
						<th class="text-center">Tên</th>
						<th class="text-center">Department</th>
						<th class="text-center">Team</th>
						<th class="text-center">Vị trí</th>
						<th class="text-center">Nghỉ phép có lương</th>
						<th class="text-center align-middle">Nghỉ phép không lương</th>
						<th class="text-center align-middle">Thời gian nghỉ phép còn lại</th>
						<th class="text-center align-middle">Sửa</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		
		<div id="detailModal" class="modal fade bd-example-modal-lg">
			<div class="modal-dialog modal-dialog-centered modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title" align="center">Chi tiết</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<label class="col-sm-3 col-form-label">Nhân viên</label>
							<div class="col-sm-3">
								<input id="detailEmployee" class="col-sm-3 form-control" type="text" readonly="readonly"></input>
							</div>
							<label class="col-sm-3 col-form-label">Vị trí</label>
							<div class="col-sm-3">
								<input id="detailPosition" class="col-sm-3 form-control" type="text" readonly="readonly"></input>
							</div>
						</div>
						<div class="row">
							<label class="col-sm-3 col-form-label">Department</label>
							<div class="col-sm-3">
								<input id="detailDepartment" class="col-sm-3 form-control" type="text" readonly="readonly"></input>
							</div>
							<label class="col-sm-3 col-form-label">Team</label>
							<div class="col-sm-3">
								<input id="detailTeam" class="col-sm-3 form-control" type="text" readonly="readonly"></input>
							</div>
						</div>
						<div class="row">
							<label class="col-sm-3 col-form-label">Nghỉ phép có lương</label>
							<div class="col-sm-3">
								<input id="detailWithPaying" class="col-sm-3 form-control" type="text" readonly="readonly"></input>
							</div>
							<label class="col-sm-3 col-form-label">Nghỉ phép không lương</label>
							<div class="col-sm-3">
								<input id="detailWithoutPaying" class="col-sm-3 form-control" type="text" readonly="readonly"></input>
							</div>
						</div>
						<div class="row">
							<label class="col-sm-3 col-form-label">Thời gian nghỉ phép còn lại</label>
							<div class="col-sm-3">
								<input id="detailRemainDay" class="form-control" type="text" readonly="readonly"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<table id="withPayingTable" class="table table-bordered table-hover" style="width: 100%;">
									<caption>Nghỉ phép có lương</caption>
									<thead>
										<tr>
											<th class="col-md-6 text-center">Từ</th>
											<th class="col-md-6 text-center">Đến</th>
											<th class="col-md-6 text-center">Thời gian nghỉ</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
							<div class="col-md-6">
								<table id="withoutPayingTable" class="table table-bordered table-hover" style="width: 100%;">
									<caption>Nghỉ phép không lương</caption>
									<thead>
										<tr>
											<th class="col-md-6 text-center">Từ</th>
											<th class="col-md-6 text-center">Đến</th>
											<th class="col-md-6 text-center">Thời gian nghỉ</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
					</div>
				</div>
			</div>
		</div>
		<div id="editRemainHoursModal" class="modal fade bd-example-modal-lg">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title" align="center">Sửa thời gian nghỉ phép còn lại</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-1"></div>
							<div id="editMsg" class="alert alert-danger" style="display: none;"></div>
							<br/>
						</div>
						<div class="row">
							<label class="col-sm-4 col-form-label">Nhân viên</label>
							<div class="col-sm-8">
								<input id="editEmployee" class="col-sm-3 form-control" type="text" readonly="readonly"></input>
							</div>
						</div>
						<div class="row">
							<label class="col-sm-4 col-form-label">Thời gian nghỉ phép còn lại</label>
							<div class="col-sm-8">
								<input id="editRemainDay" class="form-control" type="text" readonly="readonly"></input>
							</div>
						</div>
						<br/>
						<div class="row">
							<label class="col-sm-4 col-form-label">Thời gian nghỉ phép còn lại mới</label>
							<div class="col-sm-2">
								<input id="editDays" class="col-sm-3 form-control only-number" type="text" maxlength="2"></input>
							</div>
							<label class="col-sm-1">ngày</label>
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<select id="editHours" class="form-control"></select>
							</div>
							<label class="col-sm-1 col-form-label">giờ</label>
						</div>
						
					</div>
					<div class="modal-footer">
						<button id="editOk" type="button" class="btn btn-default"> OK </button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer"></div>
</body>

</html>