<!DOCTYPE html>
<html>
<head>
	<title>Hr statistic screen</title>
</head>
<div th:replace="fragments/header"></div>
<script type="text/javascript">
//<![CDATA[ 
	$(function() {
		//=====================================================================
		// # Initialize form
		//=====================================================================
		var listDepartment;
		var listTeam;
		
		//Department combobox
		$.ajax({
			url : "/department/search",
			type : "post",
			dataType :"json",
			contentType : "application/json",
			data : JSON.stringify({
				"valid_flag": 1
			}),
			success : function (departmentSearchResponse){
				if (departmentSearchResponse.status_info.status == 0) {
					listDepartment = departmentSearchResponse.listDepartment;
					$('#department').empty().append('<option value=""></option>');
					$.each(listDepartment, function(index, department) {
						$('#department').append('<option value="' + department.id + '">' + department.name + '</option>');
					});	
				} else {
					$.notify(notification['APIResponseError'](departmentSearchResponse.status_info.error));
				}
			},
			error : function() {
				$.notify(notification['APIResponseError']("connection error"));
			}
		});
		
		//Team combobox
		$.ajax({
			url : "/team/search",
			type : "post",
			dataType :"json",
			contentType : "application/json",
			data : JSON.stringify({
				"valid_flag": 1
			}),
			success : function (teamSearchResponse){
				if (teamSearchResponse.status_info.status == 0) {
					listTeam = teamSearchResponse.teams;
					$('#team').empty().append('<option value=""></option>');
					$.each(listTeam, function(index, team) {
						$('#team').append('<option value="' + team.id + '">' + team.name + '</option>');
					});	
				} else {
					$.notify(notification['APIResponseError'](teamSearchResponse.status_info.error));
				}
			},
			error : function() {
				$.notify(notification['APIResponseError']("connection error"));
			}
		});
		
		//select department event
		$('#department').on('change', function() {
			if ($(this).val() != '') {
				var id = $(this).val();
				var department = $.grep(listDepartment, function(department) {
					return department.id == id;
				})[0];
				teams = department.listTeam;
				$('#team').empty().append('<option value=""></option>');
				$.each(teams, function(index, team) {
					$('#team').append('<option value="' + team.id + '">' + team.name + '</option>');
				});
			} else {
				$('#team').empty().append('<option value=""></option>');
				$.each(listTeam, function(index, team) {
					$('#team').append('<option value="' + team.id + '">' + team.name + '</option>');
				});
			}
		})
		
		
		//=====================================================================
		// # Button even handler
		//=====================================================================
		$("#searchBtn").on('click', function() {
			var searchParam = $('#searchForm').serializeJSON();
			if (searchParam.from_time != "" && searchParam.to_time != "") {
				var fromTime = new Date(searchParam.from_time);
				var toTime = new Date(searchParam.to_time);
				if (toTime <= fromTime) {
					$.notify(notification['DateError']);
					return;
				}
			}
			
			$('#statisticsTable').DataTable({
				destroy: true,
				processing: true,
				serverSide: true,
				searching: false,
// 				pageLength: 2,
				ajax: {
					'url' : "/employee/statisticsPaging",
					'type': "POST",
					'data': function (data) {
						$.each(searchParam, function (field, val) {
							data[field] = val;
						});
 						return data;
					},
					'dataSrc': 'listEmployeeStatistics'
				},
				columns: [
					{ data: 'employee.id' },
					{ data: 'employee.name' },
					{
						data: 'employee.listTeam[0].department.name',
						render: function (data, type, row){
							if(typeof(row.employee.listTeam[0]) == "undefined") {
								data = row.employee.department.name;
							}
							return data;	
						}
					},
					{
						data: 'employee.listTeam[0].name',
						render: function (data, type, row){
							if(typeof(row.employee.listTeam[0]) == "undefined") {
								data = "";
							}
							return data;	
						}
					},
					{ data: 'employee.position.name' },
					{ data: 'timeOffWithPaying' },
					{ data: 'timeOffWithoutPaying' },
				]
			});
		});
		
		$('#statisticsTable tbody').on('click', 'tr', function() {
			var statisticsTable = $('#statisticsTable').DataTable();
			var statisticsObj = statisticsTable.row(this).data();
			
			
			$('#detailEmployee').val(statisticsObj.employee.name);
			$('#detailPosition').val(statisticsObj.employee.position.name);
			
			if(typeof(statisticsObj.employee.listTeam[0]) == "undefined") {
				$('#detailDepartment').val(statisticsObj.employee.department.name);
				$('#detailTeam').val("");
			} else {
				$('#detailDepartment').val(statisticsObj.employee.listTeam[0].department.name);
				$('#detailTeam').val(statisticsObj.employee.listTeam[0].name);
			}
			
			$('#detailWithPaying').val(statisticsObj.timeOffWithPaying);
			$('#detailWithoutPaying').val(statisticsObj.timeOffWithoutPaying);
			
			$('#withPayingTable').DataTable({
				destroy: true,
				searching: false,
				info: false,
				lengthChange: false,
				paging: false,
				data: statisticsObj.listRequestWithPaying,
				columns: [
					{ data: 'fromTime' },
					{ data: 'toTime' },
				]
			});
			$('#withoutPayingTable').DataTable({
				destroy: true,
				searching: false,
				info: false,
				lengthChange: false,
				paging: false,
				data: statisticsObj.listRequestWithoutPaying,
				columns: [
					{ data: 'fromTime' },
					{ data: 'toTime' },
				]
			});
			
			$('#detailModal').modal('show');
		});
		
		$("#clearBtn").on('click', function() {
			$('#searchForm input, #searchForm select').val('');
			$('#team').empty().append('<option value=""></option>');
			$.each(listTeam, function(index, team) {
				$('#team').append('<option value="' + team.id + '">' + team.name + '</option>');
			});
		});
		
	});	
//]]>
</script>

<body class="content-body">
	<div th:replace="menu"></div>
	<div class="requestOffContentBody">
		<div class="container">
			<h2 align="center">Request Off Statistics</h2>
			<form id="searchForm">
				<div class="form-group row">
					<div class="col-sm-2"></div>
					<label class="col-sm-2 col-form-label">Form</label>
					<div class="col-sm-6">
						<input id="fromTime" name="from_time" class="form-control" type="datetime-local" val=""/>
					</div>
				</div>
				
				<div class="form-group row">
					<div class="col-sm-2"></div>
					<label class="col-sm-2 col-form-label">To</label>
					<div class="col-sm-6">
						<input id="toTime" name="to_time" class="form-control" type="datetime-local"/>
					</div>
				</div>
				
				<div class="form-group row">
					<div class="col-sm-2"></div>
					<label class="col-sm-2 col-form-label">Department</label>
					<div class="col-sm-2">
						<select id="department" name="department_id" class="form-control">
						</select>
					</div>
					<div class="col-sm-1"></div>
					<label class="col-sm-1 col-form-label">Team</label>
					<div class="col-sm-2">
						<select id="team" name="team_id" class="form-control">
						</select>
					</div>
				</div>
				
				<div class="form-group row">
					<div class="col-sm-2"></div>
					<label class="col-sm-2 col-form-label">Employee</label>
					<div class="col-sm-6">
						<input id="employee" name="employee" type="text" class="form-control"></input>
					</div>
				</div>
				
				<div class="form-group row">
					<div class="col-sm-2"></div>
					<div class="col-sm-3"></div>
					<div class="col-sm-2">
						<button id="searchBtn" type="button" class="btn btn-default btn-block">Search</button>
					</div>
					<div class="col-sm-2">
						<button id="clearBtn" type="button" class="btn btn-default btn-block">Clear</button>
					</div>
				</div>
			</form>
			
			<table id="statisticsTable" class="table table-striped table-bordered table-hover table-condensed text-center" style="word-wrap: break-word;">
				<thead>
					<tr>
						<th class="col-md-1 text-center">ID</th>
						<th class="col-md-3 text-center">Name</th>
						<th class="col-md-2 text-center">Department</th>
						<th class="col-md-2 text-center">Team</th>
						<th class="col-md-2 text-center">Position</th>
						<th class="col-md-1 text-center">Day Off with Paying</th>
						<th class="col-md-1 text-center align-middle">Day Off without Paying</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		
		<div id="detailModal" class="modal fade bd-example-modal-lg">
			<div class="modal-dialog modal-dialog-centered modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title" align="center">Details</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<label class="col-sm-3 col-form-label">Employee</label>
							<div class="col-sm-3">
								<input id="detailEmployee" class="col-sm-3 form-control" type="text" readonly="readonly"></input>
							</div>
							<label class="col-sm-3 col-form-label">Position</label>
							<div class="col-sm-3">
								<input id="detailPosition" class="col-sm-3 form-control" type="text" readonly="readonly"></input>
							</div>
						</div>
						<div class="row">
							<label class="col-sm-3 col-form-label">Department</label>
							<div class="col-sm-3">
								<input id="detailDepartment" class="col-sm-3 form-control" type="text" readonly="readonly"></input>
							</div>
							<label class="col-sm-3 col-form-label">Team</label>
							<div class="col-sm-3">
								<input id="detailTeam" class="col-sm-3 form-control" type="text" readonly="readonly"></input>
							</div>
						</div>
						<div class="row">
							<label class="col-sm-3 col-form-label">Time Off With Paying (hours)</label>
							<div class="col-sm-3">
								<input id="detailWithPaying" class="col-sm-3 form-control" type="text" readonly="readonly"></input>
							</div>
							<label class="col-sm-3 col-form-label">Time Off Without Paying (hours)</label>
							<div class="col-sm-3">
								<input id="detailWithoutPaying" class="col-sm-3 form-control" type="text" readonly="readonly"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<table id="withPayingTable" class="table table-bordered table-hover" style="table-layout: fixed; width: 100%;">
									<caption>Day Off with Paying</caption>
									<thead>
										<tr>
											<th class="col-md-6 text-center">From</th>
											<th class="col-md-6 text-center">To</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
							<div class="col-md-6">
								<table id="withoutPayingTable" class="table table-bordered table-hover" style="table-layout: fixed; width: 100%;">
									<caption>Day Off with Paying</caption>
									<thead>
										<tr>
											<th class="col-md-6 text-center">From</th>
											<th class="col-md-6 text-center">To</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer"></div>
</body>

<style>
	.requestOffContentBody {
		width: 87%;
		height: auto;
		position: absolute;
		right: 0;
	}
</style>
</html>