<!DOCTYPE html>
<html>
<head>
	<title>Quản lý team</title>
	<meta charset="UTF-8"/>
	<div th:replace="library"></div>
</head>

<script th:inline="javascript">
/*<![CDATA[*/
	function search(){
		var requestSearch = {
			"id": $('#team').val(),
			"department_id": $('#department').val(),
			"valid_flag": 1
		};
		console.log(requestSearch);
		$('#teamTable').DataTable( {
			ajax: {
				type: "POST",
				contentType: "application/json",
				url : /*[[@{/team/search}]]*/,
				dataType : 'json',
				data: function () {
					return JSON.stringify(requestSearch);
				},
				dataSrc: 'teams'
			},
			destroy: true,
			searching: false,
			order: [[ 1, "desc" ]],
			pageLength: 50,
			columns: [
				{ data: 'id' },
				{ data: 'name' },
				{ data: 'leader.name' },
				{ data: 'department.name' },
				{
					render: function () {
							return '<a class="btnEdit teamTableEdit"><span class="glyphicon glyphicon-pencil"></span></a>';
					},
				},
				{
					render: function () {
							return '<a class="btnDelete"><span class="glyphicon glyphicon-trash"></span></a>';
					},
				}
			]
		});
	}
	
	$(function() {
		//=====================================================================
		// # Initialize form
		//=====================================================================
		var listDepartment; // for combobox display purpose
		var listTeam;
		var selectedRow; // data of selected row of teamTable
		var userId;
		
		function reloadPage() {
			var teamTable = $('#teamTable').DataTable();
			var teamId = $('#team').val();
			renderTeamSelect("team", function(teams) {
				listTeam = teams;
				$('#team').val(teamId);
				search();
			});
		}
		
		getLoggedUser(function(returnData){
			userId = returnData.user.id;
			renderNumberOfRequest(userId);
		});
		
		//Department combobox
		renderDepartmentSelect("department", function(departments) {
			listDepartment = departments;
			//Render department for team editing function
			$('#editDepartment').empty();
			$.each(listDepartment, function(index, department) {
				$('#editDepartment').append('<option value="' + department.id + '">' + department.name + '</option>');
			});
		});
		
		//Team combobox
		renderTeamSelect("team", function(teams) {
			listTeam = teams;
		});
		
		// change team combobox when department combobox is changed
		$('#department').on('change', function() {
			if ($(this).val() != '') {
				var id = $(this).val();
				var teams = $.grep(listTeam, function(team) { // find team in department
					return team.department.id == id;
				});
				$('#team').empty().append('<option value=""></option>');
				$.each(teams, function(index, team) {
					$('#team').append('<option value="' + team.id + '">' + team.name + '</option>');
				});
			} else {
				$('#team').empty().append('<option value=""></option>');
				$.each(listTeam, function(index, team) {
					$('#team').append('<option value="' + team.id + '">' + team.name + '</option>');
				});
			}
		})
		
		$('#btnSearch').on('click', function(){
			search();
		});
		
		$("#requestForm select").keydown(function(e){
			if(e.keyCode == 13) {
				this.blur();
			}
		});
		
		$(document).keypress(function(e) {
			if(e.which == 13) {
				search();
			}
		});
		search();
		//=====================================================================
		// # Row detail
		//=====================================================================
		$('#teamTable tbody').on('click', 'td', function() {
			if($(this).index() >= 4) return;
			var teamTable = $('#teamTable').DataTable();
			var rowData = teamTable.row(this).data();
			selectedRow = rowData;
			console.log("rowData");
			console.log(rowData);
			
			$('#detailDepartment').val(rowData.department.name);
			$('#detailTeam').val(rowData.name);
			$('#detailLeader').val(rowData.leader.name);
			
			$.ajax({
				url : /*[[@{/employee/search}]]*/,
				type : "post",
				dataType :"json",
				contentType : "application/json",
				data : JSON.stringify({
					"team_dept_flag": 1,
					"team_id": rowData.id,
					"valid_flag": 1
				}),
				success : function (response){
					if (response.status_info.status != 0) {
						$('#detailMsg').html(errors['APIResponseError'](teamSearchResponse.status_info.error)).attr('class', 'alert alert-danger').show();
					} else {
						$('#detailNumOfMem').val(response.employees.length);
						$('#detailMemberTable').DataTable({
							destroy: true,
							searching: false,
							info: false,
							lengthChange: false,
							paging: false,
							data: response.employees,
							columns: [
								{ data: 'id' },
								{ data: 'name' },
							]
						});
					}
				},
				error : function(e) {
					$('#alertMessage').html(errors['APIResponseError'](e)).attr('class', 'alert alert-danger').show();
				}
			});
			
			$('#detailModal').modal('show');
		});
		
		//=====================================================================
		// # Edit and create
		//=====================================================================
		$('body').on('click', '.btnEdit, #btnAdd', function() {
			$('#teamEditMsg').hide();
			$('#editOk').hide();
			$('#createBtn').hide();
			$('#detailModal').modal('hide');
			var isCreateEvent;
			
			var editInfoData = {};
			if ($(this).attr('id') == 'btnAdd') {
				$('#editTeam').val("");
				isCreateEvent = true;
			} else {
				if ($(this).hasClass("teamTableEdit")) {
					var table = $('#teamTable').DataTable();
					selectedRow = table.row($(this).parent()).data();
				}
				editInfoData.team_id = selectedRow.id;
				$('#editTeam').val(selectedRow.name);
				$('#editDepartment').val(selectedRow.department.id);
				isCreateEvent = false;
				$('#editOk').show();
			}
			
			$.ajax({
				url : /*[[@{/team/editInfo}]]*/,
				type : "post",
				dataType :"json",
				contentType : "application/json",
				data : JSON.stringify(editInfoData),
				success : function (response){
					if (response.status_info.status != 0) {
						$('#teamEditMsg').html(errors['APIResponseError'](response.status_info.error)).attr('class', 'alert alert-danger').show();
					} else {
						console.log("response")
						console.log(response);
						
						$('#editLeader').empty();
						$('#editMemberInTeam').empty();
						if (isCreateEvent == false) { // update
							$.each(response.listMember, function(index, member) {
								$('#editMemberInTeam').append('<option value="' + member.id + '">' + member.name + '</option>');
							});
							$.each(response.listMember, function(index, leader) {
								$('#editLeader').append('<option value="' + leader.id + '">' + leader.name + '</option>');
							});
							$('#editLeader').val(response.currentLeaderId);
							
						} else { // for create event
							if (response.listMemberNotInTeam.length == 0) {
								$('#teamEditMsg').html('Không có thành viên nào để tạo team').attr('class', 'alert alert-danger').show();
							} else {
								$('#createBtn').show();
							}
						}
						
						$('#editMemberNotInTeam').empty();
						$.each(response.listMemberNotInTeam, function(index, member) {
							$('#editMemberNotInTeam').append('<option value="' + member.id + '">' + member.name + '</option>');
						});
					}
				},
				error : function(e) {
					$('#teamEditMsg').html(errors['APIResponseError'](e)).attr('class', 'alert alert-danger').show();
				}
			});
			
			$('#teamEditModal').modal('show');
		});
		
		$('#teamToNotTeam').on('click', function() {
			$('#editMemberInTeam > option:selected').each(function() {
				$('#editMemberNotInTeam').append('<option value="' + $(this).val() + '">' + $(this).text() + '</option>');
				$('#editLeader > option[value="' + $(this).val() + '"]').remove();
				$(this).remove();
			});
		});
		
		$('#notTeamToTeam').on('click', function() {
			$('#editMemberNotInTeam > option:selected').each(function() {
				$('#editMemberInTeam').append('<option value="' + $(this).val() + '">' + $(this).text() + '</option>');
				$('#editLeader').append('<option value="' + $(this).val() + '">' + $(this).text() + '</option>');
				$(this).remove();
			});
		});
		
		$('#editOk, #createBtn').on('click', function() {
			var members = [];
			var isCreate;
			$('#editMemberInTeam > option').each(function() {
				members.push($(this).val());
			});
			
// 			validate form
			if (members.length == 0) {
				$('#teamEditMsg').html("Team phải có ít nhất 1 thành viên").attr('class', 'alert alert-danger').show();
				return;
			}
			
			if ($('#editTeam').val() == "") {
				$('#teamEditMsg').html(errors['incompleteFields']).attr('class', 'alert alert-danger').show();
				return;
			}
			
			var teamData = {
				"name": $('#editTeam').val(),
				"department_id": $('#editDepartment').val(),
				"leader_id": $('#editLeader').val(),
				"list_member": members
			}
			
			if ($(this).attr('id') == 'editOk') {
				teamData.id =  selectedRow.id;
				teamData.update_date = selectedRow.updateDate;
				isCreate = false;
			} else {
				teamData.valid_flag = 1;
				isCreate = true;
			}
			
			$.ajax({
				url : /*[[@{/team/regist}]]*/,
				type : "post",
				dataType :"json",
				contentType : "application/json",
				data : JSON.stringify(teamData),
				success : function (response){
					if (response.status_info.status != 0) {
						$('#teamEditMsg').html(errors['APIResponseError'](response.status_info.error)).attr('class', 'alert alert-danger').show();
					} else {
						if (isCreate == false) {
							$('#alertMessage').html("Sửa thành công").attr('class', 'alert alert-success').show();
						} else {
							$('#alertMessage').html("Thêm thành công").attr('class', 'alert alert-success').show();
						}
						$('#teamEditModal').modal('hide');
						reloadPage();
					}
				},
				error : function(e) {
					$('#alertMessage').html(errors['APIResponseError'](e)).attr('class', 'alert alert-danger').show();
					$('#teamEditModal').modal('hide');
				}
			});
			console.log("teamData");
			console.log(teamData);
		});
		
		//=====================================================================
		// # Delete
		//=====================================================================
		$('body').on('click', '.btnDelete', function() {
			var button = $(this);
			$(this).confirmation({
				placement: 'left',
				title: "Bạn có chắc chắn muốn xóa?",
				btnOkLabel: "Có",
				btnCancelLabel: "Không",
				onConfirm: function() {
					var table = $('#teamTable').DataTable();
					selectedRow = table.row(button.parent()).data();
					$.ajax({
						url : /*[[@{/team/delete}]]*/,
						type : "post",
						dataType :"json",
						contentType : "application/json",
						data : JSON.stringify({
							'team_id': selectedRow.id
						}),
						success : function (response){
							if (response.status_info.status != 0) {
								$('#alertMessage').html(errors['APIResponseError'](response.status_info.error)).attr('class', 'alert alert-danger').show();
							} else {
								$('#alertMessage').html("Xóa thành công").attr('class', 'alert alert-success').show();
							}
							reloadPage();
						},
						error : function(e) {
							$('#alertMessage').html(errors['APIResponseError'](e)).attr('class', 'alert alert-danger').show();
						}
					});
				}
			});
			$(this).confirmation("show");
		});
		
	});
	
/*]]>*/
</script>

<body class="content-body">
	<div th:replace="fragments/header"></div>
	<div th:replace="menu"></div>
	
	<div class="requestOffContentBody">			
		<h2>Quản lý team</h2>
		<div id="alertMessage" class="alert" style="display:none;"></div>
			<fieldset class="filter-fieldset">
				<legend>
					<a href="javascript:void(0);" data-toggle="collapse" data-target=".filter-collapse" class=""><i class="filter-toggle-icon glyphicon glyphicon-triangle-right"></i> Khung tìm kiếm</a>
				</legend>
				<div class="filter-collapse collapse">
					<form id="requestForm" class="form-input">
						<div class="form-group">
							<label>Department</label>
							<select id="department" name="department_id" class="form-control"></select>
						</div>
						
						<div class="form-group">
							<label>Team</label>
							<select id="team" name="team_id" class="form-control"></select>
						</div>
								
						<p>
							<button id="btnSearch" type="button" class="btn btn-primary" style="width:76px;">Tìm kiếm</button>&nbsp;&nbsp;
							<button type="reset" class="btn btn-primary" style="width:76px;">Làm mới</button>
						</p>
					</form>
				</div>
			</fieldset>
			<br/>
			
			<button id="btnAdd" type="button" class="btn btn-primary" style="width:76px;">Thêm</button>&nbsp;&nbsp;		
			<div class="table-responsive" style="margin-top:2em;"> 
				<table class="table table-bordered table-striped table-hover" id="teamTable">
					<thead>
						<tr>
							<th class="text-center" name="id" id="id" style="width: 40px;"><span>ID</span></th>
							<th class="text-center" name="team"><span>Team</span></th>
							<th class="text-center" name="leader"><span>Leader</span></th>
							<th class="text-center" name="department"><span>Department</span></th>
							<th class="text-center" name="edit" style="width: 40px;"><span>Sửa</span></th>
							<th class="text-center" name="delete" style="width: 40px;"><span>Xóa</span></th>
						</tr>
					</thead>
					<tbody class="text-center">
					</tbody>
				</table>
			</div>
		</div>
		<div id="detailModal" class="modal fade bd-example-modal-lg">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title" align="center">Chi tiết team</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-1"></div>
							<div id="detailModalMsg" class="alert alert-danger" style="display: none;"></div>
							<br/>
						</div>
						<div class="row">
							<label class="col-sm-4 col-form-label">Team</label>
							<div class="col-sm-8">
								<input id="detailTeam" class="col-sm-3 form-control" type="text" readonly="readonly"></input>
							</div>
						</div>
						<div class="row">
							<label class="col-sm-4 col-form-label">Department</label>
							<div class="col-sm-8">
								<input id="detailDepartment" class="col-sm-3 form-control" type="text" readonly="readonly"></input>
							</div>
						</div>
						<div class="row">
							<label class="col-sm-4 col-form-label">Leader</label>
							<div class="col-sm-8">
								<input id="detailLeader" class="col-sm-3 form-control" type="text" readonly="readonly"></input>
							</div>
						</div>
						<div class="row">
							<label class="col-sm-4 col-form-label">Số thành viên</label>
							<div class="col-sm-8">
								<input id="detailNumOfMem" class="col-sm-3 form-control" type="text" readonly="readonly"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<table id="detailMemberTable" class="table table-bordered table-hover" style="width: 100%">
									<caption>Thành viên</caption>
									<thead>
										<tr>
											<th class="col-md-2 text-center">Id</th>
											<th class="col-md-10 text-center">Tên</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>
						
					</div>
					<div class="modal-footer">
						<button id="editModal" type="button" class="btn btn-default btnEdit"> Sửa </button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
					</div>
				</div>
			</div>
		</div>
		<div id="teamEditModal" class="modal fade bd-example-modal-lg">
			<div class="modal-dialog modal-dialog-centered modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title" align="center">Sửa team</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-1"></div>
							<div id="teamEditMsg" class="alert alert-danger" style="display: none; width: 100%"></div>
							<br/>
						</div>
						<div class="row">
							<label class="col-sm-3 col-form-label">Team</label>
							<div class="col-sm-3">
								<input id="editTeam" class="col-sm-3 form-control" type="text"></input>
							</div>
						</div>
						<div class="row">
							<label class="col-sm-3 col-form-label">Department</label>
							<div class="col-sm-3">
								<select id="editDepartment" class="form-control"></select>
							</div>
						</div>
						<div class="row">
							<label class="col-sm-3 col-form-label">Leader</label>
							<div class="col-sm-3">
								<select id="editLeader" class="form-control"></select>
							</div>
						</div>
						
						<div class="row">
							<label class="col-sm-7 col-form-label">Thành viên thuộc team</label>
							<label class="col-sm-5 col-form-label">Thành viên không thuộc team</label>
						</div>
						<div class="row">
							<div class="col-md-5">
								<select id="editMemberInTeam" class="form-control" multiple="true"></select>
							</div>
							<div class="col-md-2">
								<button type="button" id="notTeamToTeam" style="width: 100%">
									<span class="glyphicon glyphicon-menu-left"></span>
									<span class="glyphicon glyphicon-menu-left"></span>
									<span class="glyphicon glyphicon-menu-left"></span>
								</button>
								<br/>
								<br/>
								<button type="button" id="teamToNotTeam" style="width: 100%">
									<span class="glyphicon glyphicon-menu-right"></span>
									<span class="glyphicon glyphicon-menu-right"></span>
									<span class="glyphicon glyphicon-menu-right"></span>
								</button>
							</div>
							<div class="col-md-5">
								<select id="editMemberNotInTeam" class="form-control" multiple="true"></select>
							</div>
						</div>
					</div>
					<div class="modal-footer">
					<button type="button" id="createBtn" class="btn btn-default">Thêm</button>
					<button type="button" id="editOk" class="btn btn-default">OK</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
					</div>
				</div>
			</div>
		</div>
	<div th:replace="fragments/footer"></div>
</body>
</html>