<!DOCTYPE html>
<html lang="en">
<head>
	<title>Request Off</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet"  type="text/css" href="./bootstrap/css/bootstrap.min.css" />
	<script src="jquery-3.2.1.js"></script>
	<script src="./bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/layoutStyle.css" />
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-bottom">
		<footer class="text-center">
			<p>&copy; Copyright 2018</p>
		</footer>
	</nav>
</body>
</html>
