<!DOCTYPE html>
<html lang="en">
<head>
	<title>Header</title>
	<link rel="stylesheet" type="text/css" href="css/layoutStyle.css" />
</head>
<body>
	
	<script>
		$(document).ready(function() {
			$('[data-toggle="tooltip"]').tooltip();
		});
	</script>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span>
					</button>
					<img class="logo" src="dactech.jpg"/>
				</div>
					
				<div class="collapse navbar-collapse" id="myNavbar">
						
						<h2 style="text-align: center;">DAC Tech Request Off</h2>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#" class="glyphicon glyphicon-home" data-toggle="tooltip" title="Home"></a></li>
							<li><a href="#" class="glyphicon glyphicon-bell" data-toggle="tooltip" title="Notification"></a></li>
							<li><a href="#" class="glyphicon glyphicon-log-in" data-toggle="tooltip" title="Login"></a></li>
						</ul>
				</div>
			</div>
		</nav>
</body>
</html>
