.mydatepicker {
	padding: 0px;
}

.idCell, .editCell, .deleteCell {
	width: 4%;
}

.hideColumn {
	display : none;
}

.dateOfBirthCell, .startWorkingDateCell {
	width: 10%;
}

.teamCell, .departmentCell {
	width: 15%;
}