.navbar-text {
	float: initial;
	color: black;
}
.content-body {
	padding: 120px 0px;
}
.glyphicon-size {
	padding-right: 35px;
	font-size: 17px;
}

.navbar-fixed-top {
	top: 0;
	padding: 0px;
	margin-bottom: 0px;
	border-width: 6px 0 1px;
}
.navbar-default {
	background-color: #e7e7e7;
	border-color: #e7e7e7;
}

/* @media screen and (max-width: 600px) { */
/* 	.logo { */
/* 		width: 50px; */
/* 	} */
/* } */
@media screen and (max-width: 800px){
	.logo {
		width: 250px;
	}
}

@media screen and (max-width: 700px){
	.mainContent {
		width: 250px;
	}
}

.requestOffContentBody {
	width: 87%;
	height: auto;
	position: absolute;
	right: 0;
}