#requestHistoryTable {
	margin-top: 3px; /* make space between table and pagination */
}

.requestHistoryFormButton {
	margin: 0px 20px;
}

#requestHistoryForm {
	margin-bottom: 20px;
}

.editCell, .deleteCell {
	width: 5%;
}

.idCell, .selectCell {
	width: 4%;
}

.statusCell {
	width: 8%;
}

.employeeCell {
	width: 15%;
}

.fromCell, .toCell, .timeOfCreationCell {
	width: 11%;
}

.offHoursCell, .dayOffTypeCell {
	width: 9%;
}

.mydatepicker {
	padding: 0px;
}

.not-active {
	pointer-events: none;
	cursor: default;
}

/* .hideColumn { */
/* 	display : none; */
/* } */
