#requestHistoryTable {
	margin-top: 3px; /* make space between table and pagination */
}

.customButton {
	width: 100px;
}

.requestHistoryFormButton {
	margin: 0px 20px;
}

#requestHistoryForm {
	margin-bottom: 20px;
}

.idCell, .editCell, .deleteCell {
	width: 5%;
}

.statusCell {
	width: 8%;
}

.employeeCell {
	width: 15%;
}

.fromCell, .toCell, .timeOfCreationCell, .offHoursCell {
	width: 13%;
}

.pleaseFillIn {
	background-color: moccasin;
}

.mydatepicker {
	padding: 0px;
}

.not-active {
	pointer-events: none;
	cursor: default;
}
